Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

feat: introduce SWA_CLI_DEPLOY_BINARY_VERSION
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core

docs: add instruction how to create a SWA instance
  readme.md
Labels: none

feat: allow overriding config file with CLI flags (closes #419) (#420)
  package-lock.json
  package.json
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
  src/swa.d.ts
Labels: scope: cli

fix: rebase conflict (login, deploy)
  package-lock.json
  src/cli/index.ts
  src/swa.d.ts
Labels: scope: cli

fix: improve query params logic if dev server (#430)
  src/core/constants.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/mime-types.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: core, scope: rules engine

chore: fetch deploy fetch token when not provided
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/prompts.ts
  src/core/utils/logger.ts
Labels: scope: core

feat: provide complete devcontainer with support for e2e tests (#426)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/node-debian.sh
  cypress/fixtures/blazor-starter/swa-cli.config.json
Labels: none

refactor: extract command registration
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
Labels: scope: cli

refactor: command exports
  src/cli/commands/index.ts
  src/cli/commands/start.ts
  src/cli/index.ts
Labels: scope: cli

feat(login): add support for service principal and env variables
  src/cli/commands/login.ts
  src/config.ts
  src/core/account.ts
  src/swa.d.ts
Labels: scope: core

feat(login): add support for service principal and env variables
  src/cli/commands/login.ts
  src/config.ts
  src/core/account.ts
  src/swa.d.ts
Labels: scope: core

fix(deploy): don't call login during dry-run
  src/cli/commands/deploy.ts
Labels: none

chore(login): change persistence warning on WSL
  src/core/account.ts
Labels: scope: core

chore(deploy): temporarily skip tests
  src/cli/commands/deploy.spec.ts
  src/core/deploy-client.spec.ts
Labels: scope: core

chore: export missing utils in barrel file
  src/core/utils/index.ts
Labels: none

chore(login): move login options to top level command
  src/cli/commands/login.ts
  src/cli/index.ts
Labels: scope: cli

fix(deploy): print actual api fodlder being deployed
  src/cli/commands/deploy.ts
Labels: none

chore(deploy): temporarily skip tests
  src/cli/commands/deploy.spec.ts
Labels: none

chore: remove [swa] prefix
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/account.ts
  src/core/deploy-client.ts
  src/core/runtimes.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
Labels: scope: core, scope: cli

refactor: rename resourceGroup to resourceGroupName
  src/cli/commands/login.ts
  src/cli/index.ts
  src/config.ts
  src/swa.d.ts
Labels: scope: cli

chore(login): print used resource name after login
  src/cli/commands/login.ts
Labels: none

fix(login): filter SWAs by resource group
  src/core/account.ts
Labels: scope: core

feat: support new Azure env variables
  src/cli/commands/login.ts
Labels: none

chore: env vars
  docs/environment_variables.md
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
  src/core/constants.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: msha, status: need internal approval

chore: unify SWA CLI variable environments
  docs/environment_variables.md
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/constants.ts
  src/core/deploy-client.ts
  src/core/env.ts
  src/core/utils/logger.ts
  src/core/utils/options.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

chore: move env vars values into default config
  src/config.ts
  src/core/constants.ts
  src/core/utils/net.ts
  src/msha/handlers/function.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/routes.ts
  src/msha/server.ts
Labels: scope: core, scope: msha, status: need internal approval

chore: fix welcome message typo
  src/cli/index.ts
Labels: scope: cli

chore(deploy): test dry run mode
  src/cli/commands/deploy.spec.ts
Labels: none

chore(start): move warning message to swa start
  src/cli/commands/start.ts
Labels: none

chore: improve env vars set/get logic
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/core/deploy-client.ts
  src/core/env.spec.ts
  src/core/env.ts
  src/core/utils/logger.ts
  src/core/utils/options.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/swa.d.ts
Labels: scope: core

feat: use first config from file if none was specified
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

fix(start): double action declaration
  src/cli/commands/start.ts
Labels: none

fix: properly merge user options and set log level
  src/core/utils/options.ts
Labels: none

fix: multiple config issues (#434)
  src/cli/commands/start.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
Labels: none

fix(login): filter SWAs by resource group
  src/core/account.ts
Labels: scope: core

chore(login): print used resource name after login
  src/cli/commands/login.ts
Labels: none

refactor: rename resourceGroup to resourceGroupName
  src/cli/commands/login.ts
  src/cli/index.ts
  src/config.ts
  src/swa.d.ts
Labels: scope: cli

feat: support new Azure env variables
  src/cli/commands/login.ts
Labels: none

docs: update contributions guidelines
  CONTRIBUTING.md
  docs/DEVELOPER.md
Labels: none

chore: enforce formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/node.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
  cypress/fixtures/static/api/echo/index.js
  cypress/fixtures/static/api/headers/index.js
  cypress/fixtures/static/api/info/index.js
  cypress/fixtures/static/api/status/index.js
  cypress/integration/authorization.js
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/core/utils/cli-config.ts
  src/core/utils/strings.spec.ts
Labels: none
