Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

chore: restructure e2e fixtures
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/api/echo/function.json
  cypress/fixtures/static/api/echo/index.js
  cypress/fixtures/static/api/headers/function.json
  cypress/fixtures/static/api/headers/index.js
  cypress/fixtures/static/api/host.json
  cypress/fixtures/static/api/info/function.json
  cypress/fixtures/static/api/info/index.js
  cypress/fixtures/static/api/package-lock.json
  cypress/fixtures/static/api/package.json
  cypress/fixtures/static/api/status/function.json
  cypress/fixtures/static/api/status/index.js
  cypress/fixtures/static/app/custom-401.html
  cypress/fixtures/static/app/custom-403.html
  cypress/fixtures/static/app/custom-404.html
  cypress/fixtures/static/app/folder/index.html
  cypress/fixtures/static/app/foo.bar
  cypress/fixtures/static/app/foo.html
  cypress/fixtures/static/app/index.html
  cypress/fixtures/static/app/index2.html
  cypress/fixtures/static/app/test.swaconfig
  cypress/fixtures/static/swa-cli.config.json
Labels: none

ci: add cypress e2e tests
  .github/workflows/node.js.yml
Labels: none

fix: support query strings on static content
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/swa-cli.config.json
  cypress/integration/route-rules.js
  src/msha/routes-engine/route-processor.ts
Labels: scope: rules engine

chore: add unit tests for route-processor
  src/msha/routes-engine/route-processor.spec.ts
Labels: scope: rules engine

chore: add unit tests for route-processor
  src/msha/routes-engine/route-processor.spec.ts
Labels: scope: rules engine

fix: support query strings on static content
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/swa-cli.config.json
  cypress/integration/route-rules.js
  src/msha/routes-engine/route-processor.ts
Labels: scope: rules engine

fix: avoid CLI crashes when func crashes
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/func-core-tools.ts
Labels: scope: core

fix: avoid CLI crashes when func crashes
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/func-core-tools.ts
Labels: scope: core

fix: support percent-encoded symbols in static files request url
  cypress/fixtures/static/app/another folder/index.html
  cypress/fixtures/static/app/with space.html
  cypress/integration/route-rules.js
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
Labels: none

style: mistypes fix
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/rules/headers.spec.ts
  src/msha/routes-engine/rules/headers.ts
Labels: none

fix: support percent-encoded symbols in static files request url (#404)
  cypress/fixtures/static/app/another folder/index.html
  cypress/fixtures/static/app/with space.html
  cypress/integration/route-rules.js
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/rules/headers.spec.ts
  src/msha/routes-engine/rules/headers.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
Labels: none

fix: ignore invalid workflow files
  cypress/fixtures/static/.github/workflows/azure-static-web-apps-NON-CONFORM.yml
  src/cli/commands/start.ts
Labels: none

fix: use appLocation to scan for workflow files
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/swa-cli.config.json
  src/core/utils/workflow-config.ts
Labels: none

chore: remove locale from doc URLs
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/headers.ts
  src/msha/routes-engine/rules/mime-types.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/public/auth.html
Labels: none

fix: use appLocation to scan for workflow files
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/swa-cli.config.json
  src/core/utils/workflow-config.ts
Labels: none

fix: ignore invalid workflow files
  cypress/fixtures/static/.github/workflows/azure-static-web-apps-NON-CONFORM.yml
  src/cli/commands/start.ts
Labels: none

chore: remove locale from doc URLs
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/headers.ts
  src/msha/routes-engine/rules/mime-types.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/public/auth.html
Labels: none

revert: passe verbosity level via config file
  src/cli/index.ts
Labels: scope: cli

fix: ignore Invalid JSON in staticwebapp.config.json
  src/core/utils/user-config.ts
Labels: none

refactor: format warning message
  src/cli/commands/start.ts
  src/core/utils/workflow-config.spec.ts
  src/core/utils/workflow-config.ts
Labels: none

refactor: format warning message
  src/cli/commands/start.ts
  src/core/utils/workflow-config.spec.ts
  src/core/utils/workflow-config.ts
Labels: none

fix: ignore Invalid JSON in staticwebapp.config.json
  src/core/utils/user-config.ts
Labels: none

fix: improve glob expressions matching
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
Labels: scope: rules engine

chore: update e2e tests
  cypress/fixtures/blazor-starter/staticwebapp.config.json
  cypress/fixtures/static/staticwebapp.config.json
  cypress/integration/route-rules.js
Labels: none

fix: improve glob expressions matching
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
Labels: scope: rules engine

chore: update e2e tests
  cypress/fixtures/blazor-starter/staticwebapp.config.json
  cypress/fixtures/static/staticwebapp.config.json
  cypress/integration/route-rules.js
Labels: none

chore: prep release 0.8.3
  package-lock.json
  package.json
Labels: none

chore: prep release 0.8.3 (#411)
  package-lock.json
  package.json
Labels: none

fix: use config root folder when a config is loaded (closes #409)
  cypress/fixtures/static/swa-cli.config.json
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

chore: bump to 0.8.4 after release
  package-lock.json
  package.json
Labels: none

Sgollapudi77/bump into 0.8.4 alpha after release (#417)
  package-lock.json
  package.json
Labels: none

fix: use config root folder when a config is loaded (closes #409) (#413)
  cypress/fixtures/static/swa-cli.config.json
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

chore: build not not needed for testing
  package.json
Labels: none

chore: exclude unneeded files from package
  .npmignore
Labels: none

chore: reduce npm package size (#421)
  .npmignore
  package.json
Labels: none

feat: add swa deploy
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

feat: swa deploy
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

feat: swa deploy (wip)
  package-lock.json
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.ts
  src/core/utils/logger.ts
Labels: scope: core, scope: cli

chore: test getLocalClientMetadata
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
Labels: scope: core

chore: add unit tests for deploy command
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/core/utils/logger.ts
Labels: none
