Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

Deploy website - based on 6bfcb69b92d073680848958df629c583bfc2f3bc
  404.html
  assets/files/package-ca9ec004503ad12c9e18b20fd61378d2.json
  assets/js/621c628d.9501d13d.js
  assets/js/621c628d.9c697c66.js
  assets/js/main.5e8806ca.js
  assets/js/main.d3850f76.js
  assets/js/main.d3850f76.js.LICENSE.txt
  assets/js/runtime~main.3ec587b6.js
  assets/js/runtime~main.58741c42.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

ci: change macos-latest to macos-12 to keep supporting node 14
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Labels: none

ci: change macos-latest to macos-12 to keep supporting node 14 (#828)
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Labels: none

Deploy website - based on 0055b77b691704f0f383dce0498de851bb81e411
  404.html
  assets/js/main.00beb950.js
  assets/js/main.00beb950.js.LICENSE.txt
  assets/js/main.d3850f76.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Revert "chore: prep release 1.1.8"
  package-lock.json
  package.json
Labels: none

Deploy website - based on d30bc2853d425488008868534d36a79b569300bd
  404.html
  assets/files/package-805650ca86039bb3fb6b4cfbb4f67907.json
  assets/js/621c628d.9501d13d.js
  assets/js/621c628d.9c697c66.js
  assets/js/main.00beb950.js
  assets/js/main.1283f5d1.js
  assets/js/main.1283f5d1.js.LICENSE.txt
  assets/js/runtime~main.3ec587b6.js
  assets/js/runtime~main.58741c42.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Revert "Revert "chore: prep release 1.1.8""
  package-lock.json
  package.json
Labels: none

Deploy website - based on 5aa0831a807cd744984e90d38e6603b2c566006a
  404.html
  assets/files/package-ca9ec004503ad12c9e18b20fd61378d2.json
  assets/js/621c628d.9501d13d.js
  assets/js/621c628d.9c697c66.js
  assets/js/main.1283f5d1.js
  assets/js/main.78965e6d.js
  assets/js/main.78965e6d.js.LICENSE.txt
  assets/js/runtime~main.3ec587b6.js
  assets/js/runtime~main.58741c42.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix: upload package to blob via Workload Identity Federation connection
  .github/workflows/azuresdkdrop.yml
Labels: none

recover format
  .github/workflows/azuresdkdrop.yml
Labels: none

fix: upload package to blob via Workload Identity Federation connection (#832)
  .github/workflows/azuresdkdrop.yml
Labels: none

Revert "chore: prep release 1.1.8"
  package-lock.json
  package.json
Labels: none

Deploy website - based on 470d4efaf5de25e9d5492d043e5893f80691f115
  404.html
  assets/js/main.69ec3294.js
  assets/js/main.69ec3294.js.LICENSE.txt
  assets/js/main.78965e6d.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Revert "chore: prep release 1.1.8" (#833)
  package-lock.json
  package.json
Labels: none

Deploy website - based on eede04103ea43c76928ef1d82eac875321cccf9a
  404.html
  assets/files/package-805650ca86039bb3fb6b4cfbb4f67907.json
  assets/js/621c628d.9501d13d.js
  assets/js/621c628d.9c697c66.js
  assets/js/main.69ec3294.js
  assets/js/main.889ff6c9.js
  assets/js/main.889ff6c9.js.LICENSE.txt
  assets/js/runtime~main.3ec587b6.js
  assets/js/runtime~main.58741c42.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep release 1.1.8
  package-lock.json
  package.json
Labels: none

chore: prep release 1.1.8 (#834)
  package-lock.json
  package.json
Labels: none

Deploy website - based on 0ae0ff0d6abb8372462e9553009c7cfa75e2e155
  404.html
  assets/files/package-ca9ec004503ad12c9e18b20fd61378d2.json
  assets/js/621c628d.9501d13d.js
  assets/js/621c628d.9c697c66.js
  assets/js/main.889ff6c9.js
  assets/js/main.e10f2342.js
  assets/js/main.e10f2342.js.LICENSE.txt
  assets/js/runtime~main.3ec587b6.js
  assets/js/runtime~main.58741c42.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Fix target core tool version detection when using Node 20
  src/core/func-core-tools.ts
Labels: scope: core

Deploy website - based on 352be8f4ce2d01e1dac17797a80f9f414d612bc0
  404.html
  assets/js/main.d6defcb4.js
  assets/js/main.d6defcb4.js.LICENSE.txt
  assets/js/main.e10f2342.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update version # of CLI
  package-lock.json
  package.json
Labels: none

don't listen twice for supporting over node 20.13
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

Update azuresdkdrop.yml to use azure/login@v2 OIDC login for Federated credentials
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on 30cb70ad499a6154d93ea7db2126ac4de5c2cbcd
  404.html
  assets/files/package-1d54b527b9ae6a1a510a72f2d608eadd.json
  assets/js/621c628d.8a62c091.js
  assets/js/621c628d.9c697c66.js
  assets/js/main.9f4f9502.js
  assets/js/main.9f4f9502.js.LICENSE.txt
  assets/js/main.d6defcb4.js
  assets/js/runtime~main.3ec587b6.js
  assets/js/runtime~main.f897b0b2.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Remove duplicate and old azure/login@v1 step in azuresdkdrop workflow
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on 03ef933de952a769fb12b68082a63b1371cd13d9
  404.html
  assets/js/main.9f4f9502.js
  assets/js/main.dd73fa9c.js
  assets/js/main.dd73fa9c.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update azuresdkdrop workflow account-name
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on b07ba4b4f8c0e4e5ae115b89182bc8c8cfb34ab7
  404.html
  assets/js/main.841ad741.js
  assets/js/main.841ad741.js.LICENSE.txt
  assets/js/main.dd73fa9c.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update azuresdkdrop workflow with auth mode
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on 27de71315dff01c1148344aee0705fe74a6a77e7
  404.html
  assets/js/main.841ad741.js
  assets/js/main.ccdad32b.js
  assets/js/main.ccdad32b.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix(cli): Fix VuePress swa init and start
  src/core/frameworks/frameworks.ts
  src/core/utils/cli.ts
Labels: none

Deploy website - based on c63769f6680d1577a36b63fb267d0f74cf189ed2
  404.html
  assets/js/main.6cdabb6a.js
  assets/js/main.6cdabb6a.js.LICENSE.txt
  assets/js/main.ccdad32b.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on c30fd679acefafac4edfa9992f2569b522383f2a
  404.html
  assets/js/main.318de8c0.js
  assets/js/main.318de8c0.js.LICENSE.txt
  assets/js/main.6cdabb6a.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

1.1.10
  package-lock.json
  package.json
Labels: none

Deploy website - based on 669e86c6bf786c319085d3c9ace3b6bde5da13f8
  404.html
  assets/files/package-95c0fe4b12306b6d2dfafb9fa13793c0.json
  assets/js/621c628d.2b1764de.js
  assets/js/621c628d.8a62c091.js
  assets/js/main.318de8c0.js
  assets/js/main.d1dbfd99.js
  assets/js/main.d1dbfd99.js.LICENSE.txt
  assets/js/runtime~main.a4002762.js
  assets/js/runtime~main.f897b0b2.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on e5356d2e40fc4e9f4804887d533f8b2e2261b1e2
  404.html
  assets/js/main.4018b45a.js
  assets/js/main.4018b45a.js.LICENSE.txt
  assets/js/main.d1dbfd99.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update 1-install.md
  docs/www/docs/use/1-install.md
Labels: none

(#856) fix: hugo.toml detection
  src/core/frameworks/frameworks.ts
Labels: none

Deploy website - based on 407464bebce369e6e5e59008a3c9b89803ea05e0
  404.html
  assets/js/main.4018b45a.js
  assets/js/main.e3211a4c.js
  assets/js/main.e3211a4c.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on e0cf62044d2465ee228bb52de369fbac11866efe
  404.html
  assets/js/main.44933f76.js
  assets/js/main.44933f76.js.LICENSE.txt
  assets/js/main.e3211a4c.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none
