Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

fix: update @azure/identity (fix #541)
  package-lock.json
  package.json
Labels: none

fix: update @azure/identity (fix #541) (#627)
  package-lock.json
  package.json
Labels: none

Deploy website - based on aa2d9939beaa4b5fee0680acfea02bfc6bb4312d
  404.html
  assets/files/package-493dffad2d69afc33b3ab348bf3a6d9d.json
  assets/js/621c628d.478d5716.js
  assets/js/621c628d.eb774e54.js
  assets/js/main.5d92a375.js
  assets/js/main.e3133299.js
  assets/js/main.e3133299.js.LICENSE.txt
  assets/js/runtime~main.3e1cf569.js
  assets/js/runtime~main.a277e5d3.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix: token scope used when using cliendId/clientSecret auth (fix #541)
  src/cli/commands/login.ts
Labels: none

fix: token scope used when using cliendId/clientSecret auth (fix #541) (#629)
  src/cli/commands/login.ts
Labels: none

Deploy website - based on 44923dfdca60e4512fdcbcd3a0781e514965b8b6
  404.html
  assets/js/main.4ba2d554.js
  assets/js/main.4ba2d554.js.LICENSE.txt
  assets/js/main.e3133299.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix: addressed comments
  docs/www/docs/cli/swa-start.md
  src/cli/commands/start.ts
  src/core/utils/net.ts
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

chore: added tests for issHttpsUrl
  src/core/utils/net.spec.ts
Labels: none

chore: nit changes and handling staticwebapp.database.config.json
  .vscode/launch.json
  src/cli/commands/start.ts
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/core/download-binary-helper.ts
  src/core/utils/platform.ts
Labels: scope: core

added tests
  src/core/utils/net.spec.ts
Labels: none

fix: providing separate agents for HTTP and HTTPS proxy servers (#628)
  docs/www/docs/cli/swa-start.md
  src/cli/commands/start.ts
  src/core/utils/net.spec.ts
  src/core/utils/net.ts
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

Deploy website - based on 883233c7358c3ffa15836067f4f9bfcc05ca5bd1
  404.html
  assets/js/64516836.de0f4a54.js
  assets/js/64516836.f58af608.js
  assets/js/main.4ba2d554.js
  assets/js/main.ed7a35c1.js
  assets/js/main.ed7a35c1.js.LICENSE.txt
  assets/js/runtime~main.0db8a338.js
  assets/js/runtime~main.a277e5d3.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

test: add unit test
  src/cli/index.spec.ts
Labels: scope: cli

fix: empty spaces uncorrectly detected as positional argument
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

test: remove unneeded mock
  src/cli/index.spec.ts
Labels: scope: cli

refactor: split cli command/register to fix and make testing easier
  src/cli/commands/build/build.spec.ts
  src/cli/commands/build/build.ts
  src/cli/commands/build/index.ts
  src/cli/commands/build/register.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/index.ts
  src/cli/commands/deploy/register.ts
  src/cli/commands/docs.ts
  src/cli/commands/init/index.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/cli/commands/init/register.ts
  src/cli/commands/login/index.ts
  src/cli/commands/login/login.ts
  src/cli/commands/login/register.ts
  src/cli/commands/start/index.ts
  src/cli/commands/start/register.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/cli/index.ts
Labels: scope: cli

Deploy website - based on 67d380d93892de754cb22ab61b25e06097c85ab0
  404.html
  assets/js/main.b4161472.js
  assets/js/main.b4161472.js.LICENSE.txt
  assets/js/main.ed7a35c1.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: nit comments
  docs/www/docs/contribute/99-troubleshooting.md
  src/core/dataApiBuilder/dab.ts
Labels: none

docs: fix swa login example using subscription-id
  docs/www/docs/cli/swa-login.md
Labels: none

fix(init): allow to override apiDevserverUrl
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/swa.d.ts
Labels: none

docs: fix swa login example using subscription-id (#632)
  docs/www/docs/cli/swa-login.md
Labels: none

Deploy website - based on 03ca8e14bda145c94d13aa3dca558a8432372115
  404.html
  assets/js/1cdc1c3c.49c0c7ed.js
  assets/js/1cdc1c3c.4c5948f7.js
  assets/js/main.b4161472.js
  assets/js/main.da8d7275.js
  assets/js/main.da8d7275.js.LICENSE.txt
  assets/js/runtime~main.0db8a338.js
  assets/js/runtime~main.1a9b93a5.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

docs: added one more domain to firewall section in troubleshoot
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

docs: Make the recommended install the main one
  readme.md
Labels: none

nit: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

nit: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

nit: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

doc: node runtime updates
  docs/www/docs/use/1-install.md
Labels: none

fix(init): allow to override apiDevserverUrl (#634)
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/swa.d.ts
Labels: none

Deploy website - based on 811028378b6e105b0d8315e8eba3e4500df31501
  404.html
  assets/js/main.39f9caf7.js
  assets/js/main.39f9caf7.js.LICENSE.txt
  assets/js/main.da8d7275.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 08d1abe5629715a2af6737e68c6214bf9e4ea18e
  404.html
  assets/js/main.39f9caf7.js
  assets/js/main.dfd4613f.js
  assets/js/main.dfd4613f.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

doc: node runtime updates (#638)
  docs/www/docs/use/1-install.md
Labels: none

docs: added one more domain to firewall section in troubleshoot (#636)
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Deploy website - based on e7cbf24041c6e7f22ec92444c7923796f4801d8e
  404.html
  assets/js/f5b83334.bae25c58.js
  assets/js/f5b83334.cfb9604d.js
  assets/js/main.8ddc04ab.js
  assets/js/main.8ddc04ab.js.LICENSE.txt
  assets/js/main.dfd4613f.js
  assets/js/runtime~main.1a9b93a5.js
  assets/js/runtime~main.25785b04.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

docs: Update CONTRIBUTING.md (#635)
  CONTRIBUTING.md
Labels: none

Deploy website - based on b7a7c278eeb55cb9fb2d221fc1b29a4440f62756
  404.html
  assets/js/6d64ee17.ac9a2cf4.js
  assets/js/6d64ee17.e1a87837.js
  assets/js/main.8ddc04ab.js
  assets/js/main.f0ecb57a.js
  assets/js/main.f0ecb57a.js.LICENSE.txt
  assets/js/runtime~main.25785b04.js
  assets/js/runtime~main.71562de1.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 8b54316f1df31d8cf30c9eb0c186dd355331f163
  404.html
  assets/js/main.98b0b4fc.js
  assets/js/main.98b0b4fc.js.LICENSE.txt
  assets/js/main.f0ecb57a.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep-release 1.0.5
  package-lock.json
  package.json
Labels: none

chore: prep-release 1.0.5 (#639)
  package-lock.json
  package.json
Labels: none
