Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

chore: prep v2.0.3 release
  package-lock.json
  package.json
Labels: none

change to applicationinsights library for telemetry
  package-lock.json
  package.json
  src/core/telemetry/telemetryReporter.ts
Labels: none

working state, add more fields
  package-lock.json
  package.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/start/start.ts
  src/config.ts
  src/core/telemetry/utils.ts
Labels: none

fix swa start telemetry timing
  src/cli/commands/start/start.ts
Labels: none

Add apiruntime back to telemetry
  src/cli/commands/start/start.ts
Labels: none

Support for NodeJS 22.
  src/core/func-core-tools.ts
Labels: scope: core

change property names
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/func-core-tools.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: scope: core

add fetchWithProxy method
  package-lock.json
  package.json
  src/core/dataApiBuilder/dab.ts
  src/core/deploy-client.ts
  src/core/download-binary-helper.ts
  src/core/func-core-tools.ts
  src/core/utils/fetch-proxy.ts
  src/msha/handlers/function.handler.ts
Labels: scope: core

2.0.4
  package-lock.json
  package.json
Labels: none

fix
  src/core/telemetry/telemetryReporter.ts
Labels: none

fix
  src/core/telemetry/telemetryReporter.ts
Labels: none

fix telemetry client initialization
  src/core/telemetry/telemetryReporter.ts
Labels: none

make telemetry log file
  src/cli/index.ts
  src/core/constants.ts
Labels: scope: core, scope: cli

fix timing
  src/cli/index.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: scope: cli

add flush
  src/core/telemetry/telemetryReporter.ts
Labels: none

fix: Fixed the inconsistency in the handling of AAD openIdIssuer
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: none

remove unused import
  src/core/telemetry/utils.ts
Labels: none

Refactoring the download process for deploy clients using the Streams Promises API
  src/core/download-binary-helper.ts
Labels: scope: core

Remove PassThrough pipe
  src/core/download-binary-helper.ts
Labels: scope: core

fix(msha): change auth regex for unsupported providers to allow providers with numbers
  src/msha/auth/index.ts
Labels: scope: auth

fix: users claims in local auth image
  docs/www/static/img/swa-cli-local-auth.png
Labels: none

chore: shrink image
  docs/www/static/img/swa-cli-local-auth.png
Labels: none

fix: Refactoring the download process for `StaticSiteClient` (#936)
  src/core/download-binary-helper.ts
Labels: scope: core

2.0.5
  package-lock.json
  package.json
Labels: none

2.0.5 (#948)
  package-lock.json
  package.json
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS (#949)
  .github/CODEOWNERS
Labels: none

Add error log when fetchClientVersionDefinition throws
  src/core/deploy-client.ts
Labels: scope: core

2.0.6
  package-lock.json
  package.json
Labels: none

2.0.6 (#954)
  package-lock.json
  package.json
Labels: none

ci: upgrade ubuntu version in ci
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Labels: none

ci: upgrade ubuntu version for testing environment (#955)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Labels: none

fix: dev server urls not passed to msha correctly
  src/cli/commands/start/start.ts
  src/core/constants.ts
Labels: scope: core

fix: update cookie dependency to ^0.7.0 to address CVE-2024-47764
  package-lock.json
  package.json
Labels: none

feat: enable Dependabot for automated dependency updates
  .github/dependabot.yml
  DEPENDENCY_UPDATES.md
Labels: none

fix: update dependencies to resolve security vulnerabilities
  SECURITY_UPDATES.md
  package-lock.json
  package.json
Labels: none

fix: correct duplicate 'init' property in schema to 'build'
  schema/swa-cli.config.schema.json
Labels: none

fix: handle Unicode characters in auth emulator usernames
  src/public/auth.html
Labels: none

fix: update AAD display name to Microsoft Entra ID in auth UI
  src/public/auth.html
Labels: none

feat: upgrade swa runtime version
  schema/staticwebapp.config.json
Labels: none
