Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

refactor: improve error messages
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
Labels: none

fix: add missing --output-location flag
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

docs(start): update preview message
  src/cli/commands/start.ts
Labels: none

fix(init): outputLocation path generation
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
Labels: none

refactor(init): remove trailing path sep from generated paths
  src/cli/commands/init.spec.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

refactor: improve error messages
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
Labels: none

docs(init): mention swa build after swa init
  src/cli/commands/init.ts
Labels: none

fix: swa start startup command path
  src/cli/commands/start.ts
Labels: none

feat: make positional arguments explicit
  schema/swa-cli.config.schema.json
  src/cli/commands/build.ts
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
  src/swa.d.ts
Labels: scope: cli

refactor: review
  src/cli/index.ts
Labels: scope: cli

feat: add swa command
  src/cli/commands/build.ts
  src/cli/index.ts
  src/core/utils/command.ts
  src/core/utils/index.ts
Labels: scope: cli

feat: add swa command
  src/cli/commands/build.ts
  src/cli/index.ts
  src/core/utils/command.ts
  src/core/utils/index.ts
Labels: scope: cli

refactor: fix typo
  src/cli/commands/init.ts
Labels: none

docs: removes preview mentions
  readme.md
Labels: none

docs: improve docs
  readme.md
Labels: none

build(packaging): Update nodejs and npm versions
  .devcontainer/devcontainer.json
  .github/workflows/azuresdkdrop.yml
  .github/workflows/node.yml
  .nvmrc
Labels: none

feat: add command path when needed
  e2e/fixtures/astro-node/astro preact/.gitignore
  e2e/fixtures/astro-node/astro preact/.npmrc
  e2e/fixtures/astro-node/astro preact/.stackblitzrc
  e2e/fixtures/astro-node/astro preact/README.md
  e2e/fixtures/astro-node/astro preact/astro.config.mjs
  e2e/fixtures/astro-node/astro preact/package.json
  e2e/fixtures/astro-node/astro preact/public/favicon.ico
  e2e/fixtures/astro-node/astro preact/sandbox.config.json
  e2e/fixtures/astro-node/astro preact/src/components/Counter.css
  e2e/fixtures/astro-node/astro preact/src/components/Counter.tsx
  e2e/fixtures/astro-node/astro preact/src/pages/index.astro
  e2e/fixtures/astro-node/astro preact/tsconfig.json
  src/cli/commands/build.spec.ts
  src/cli/commands/build.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/start.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

refactor: uniformize
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

chore(start): hide error while loading schema file
  src/core/utils/user-config.ts
Labels: none

fix: swa start not waiting for ports to be available
  src/cli/commands/start.ts
  src/core/prompts.ts
  src/core/utils/net.ts
Labels: scope: core

fix: colors and duplicate message in command passthrough
  src/cli/index.ts
  src/core/utils/cli-config.ts
  src/core/utils/command.ts
Labels: scope: cli

refactor: uniformize
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

feat: add command path when needed
  e2e/fixtures/astro-node/astro preact/.gitignore
  e2e/fixtures/astro-node/astro preact/.npmrc
  e2e/fixtures/astro-node/astro preact/.stackblitzrc
  e2e/fixtures/astro-node/astro preact/README.md
  e2e/fixtures/astro-node/astro preact/astro.config.mjs
  e2e/fixtures/astro-node/astro preact/package.json
  e2e/fixtures/astro-node/astro preact/public/favicon.ico
  e2e/fixtures/astro-node/astro preact/sandbox.config.json
  e2e/fixtures/astro-node/astro preact/src/components/Counter.css
  e2e/fixtures/astro-node/astro preact/src/components/Counter.tsx
  e2e/fixtures/astro-node/astro preact/src/pages/index.astro
  e2e/fixtures/astro-node/astro preact/tsconfig.json
  src/cli/commands/build.spec.ts
  src/cli/commands/build.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/start.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

fix: colors and duplicate message in command passthrough
  src/cli/index.ts
  src/core/utils/cli-config.ts
  src/core/utils/command.ts
Labels: scope: cli

fix: swa start not waiting for ports to be available
  src/cli/commands/start.ts
  src/core/prompts.ts
  src/core/utils/net.ts
Labels: scope: core

fix: new swa deployment
  src/cli/commands/deploy.ts
  src/core/account.ts
Labels: scope: core

fix: default positional argument overriding config options
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
Labels: none

fix(build): use app folder instead of output
  src/cli/commands/build.ts
Labels: none

fix: postional arg default value overriding user options
  src/cli/commands/build.ts
Labels: none

docs: fix option description
  src/cli/commands/build.ts
Labels: none

refactor: remove apiPrefix
  src/config.ts
  src/msha/handlers/function.handler.ts
  src/swa.d.ts
Labels: none

fix: stuck with corrupted credentials
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
Labels: none

fix: deployment paths
  src/cli/commands/deploy.ts
Labels: none

docs: fix option description
  src/cli/commands/build.ts
Labels: none

fix(build): use app folder instead of output
  src/cli/commands/build.ts
Labels: none

fix: deployment paths
  src/cli/commands/deploy.ts
Labels: none

fix: stuck with corrupted credentials
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
Labels: none

fix: default positional argument overriding config options
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
Labels: none

fix: postional arg default value overriding user options
  src/cli/commands/build.ts
Labels: none

refactor: remove apiPrefix
  src/config.ts
  src/msha/handlers/function.handler.ts
  src/swa.d.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
