Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

basic changes to collect telemetry fields
  src/cli/commands/build/build.spec.ts
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/cli/index.ts
  src/core/telemetry/utils.ts
  src/swa.d.ts
Labels: scope: cli

added cp spawn mock in build tests
  src/cli/commands/build/build.spec.ts
Labels: none

nit
  src/cli/commands/build/build.spec.ts
Labels: none

chore: bump-into-1.1.2-alpha after release
  package-lock.json
  package.json
Labels: none

ci: update code owners
  .github/CODEOWNERS
Labels: none

fix: fix Syntaxerror while parsing docs.
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

chore: bump-into-1.1.2-alpha after release (#677)
  package-lock.json
  package.json
Labels: none

ci: update code owners (#679)
  .github/CODEOWNERS
Labels: none

fix: fix Syntaxerror while parsing docs. (#680)
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Deploy website - based on 552261406a7d990ed9e1065524d2ae546cbe3ae1
  404.html
  assets/files/package-437bc21799d67bffa0048974e82c19e8.json
  assets/js/3c62dc7d.9ab1d7e0.js
  assets/js/3c62dc7d.f6a97b8c.js
  assets/js/621c628d.621e7017.js
  assets/js/621c628d.80ce52be.js
  assets/js/64516836.b89c16c0.js
  assets/js/64516836.f58af608.js
  assets/js/6d64ee17.1017daff.js
  assets/js/6d64ee17.e1a87837.js
  assets/js/a7cb349a.360efbaa.js
  assets/js/a7cb349a.9fc27ee0.js
  assets/js/main.29d83b97.js
  assets/js/main.29d83b97.js.LICENSE.txt
  assets/js/main.7a123e78.js
  assets/js/runtime~main.b33186aa.js
  assets/js/runtime~main.bad4099f.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update dockerhub.yml
  .github/workflows/dockerhub.yml
Labels: none

Update dockerhub.yml
  .github/workflows/dockerhub.yml
Labels: none

Update dockerhub.yml
  .github/workflows/dockerhub.yml
Labels: none

Update dockerhub.yml
  .github/workflows/dockerhub.yml
Labels: none

ci: update dockerhub workflow file
  .github/workflows/dockerhub.yml
Labels: none

addressed comments
  src/cli/commands/build/build.spec.ts
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/cli/index.ts
  src/core/constants.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/telemetry/utils.ts
Labels: scope: core, scope: cli

tests: add tests for dab-integration changes
  src/cli/commands/db/init/init.spec.ts
  src/cli/commands/db/init/init.ts
  src/swa.d.ts
Labels: none

tests: add tests for platform.ts
  src/core/utils/platform.spec.ts
Labels: none

tests: add tests for dab-handler.ts
  src/msha/handlers/dab.handler.spec.ts
  src/msha/handlers/dab.handler.ts
Labels: none

tests: add tests for dab.ts
  src/core/dataApiBuilder/dab.spec.ts
  src/core/dataApiBuilder/dab.ts
Labels: none

nit: address comments
  src/cli/commands/db/init/init.spec.ts
  src/core/dataApiBuilder/dab.ts
  src/core/utils/platform.spec.ts
  src/msha/handlers/dab.handler.spec.ts
  src/msha/handlers/dab.handler.ts
Labels: none

nit: resolve comments
  src/core/utils/platform.spec.ts
  src/msha/handlers/dab.handler.spec.ts
Labels: none

tests: add unit tests for dab-integration changes (#682)
  src/cli/commands/db/init/init.spec.ts
  src/cli/commands/db/init/init.ts
  src/core/dataApiBuilder/dab.spec.ts
  src/core/dataApiBuilder/dab.ts
  src/core/utils/platform.spec.ts
  src/msha/handlers/dab.handler.spec.ts
  src/msha/handlers/dab.handler.ts
  src/swa.d.ts
Labels: none

Deploy website - based on 97da3654909651d35b553dcedd29cc8e821083bc
  404.html
  assets/js/main.29d83b97.js
  assets/js/main.c403dfb9.js
  assets/js/main.c403dfb9.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

refactor: added utils functions
  src/cli/commands/deploy/register.ts
  src/core/constants.ts
  src/core/frameworks/frameworks.ts
  src/core/functions-versions.ts
Labels: scope: core

comments
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/telemetry/utils.ts
Labels: scope: core

nit: add default versions
  src/core/frameworks/frameworks.ts
Labels: none

feat: Add new flags for Function runtime and Function version (#562)
  CONTRIBUTING.md
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/use/1-install.md
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/register.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/config.ts
  src/core/constants.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
  src/core/frameworks/frameworks.ts
  src/core/functions-versions.ts
  src/core/utils/command.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
  src/swa.d.ts
Labels: scope: core

Deploy website - based on 8a601fdc1166c3e8791cde053ca0df5b1a7591a0
  404.html
  assets/js/3f8550e3.40bfaa53.js
  assets/js/3f8550e3.dd081272.js
  assets/js/6d64ee17.1017daff.js
  assets/js/6d64ee17.d75a84ec.js
  assets/js/a060ffa6.4a2f7f67.js
  assets/js/a060ffa6.8c550fd4.js
  assets/js/f5b83334.47255647.js
  assets/js/f5b83334.7f357688.js
  assets/js/main.11a1fd0c.js
  assets/js/main.11a1fd0c.js.LICENSE.txt
  assets/js/main.c403dfb9.js
  assets/js/runtime~main.4eed83ea.js
  assets/js/runtime~main.b33186aa.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

more comments addressed
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/telemetry/utils.ts
Labels: none

added flagUsed an error details
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/utils/options.ts
  src/swa.d.ts
Labels: none

more comments
  src/cli/commands/build/build.ts
  src/cli/commands/init/init.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: none

nit changes
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: scope: core

feat(telemetry): changes to start collecting basic telemetry fields (#678)
  src/cli/commands/build/build.spec.ts
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
  src/swa.d.ts
Labels: scope: core

added more fields
  src/cli/commands/build/build.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: none

nit changes
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: scope: core

nit
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/utils/options.ts
Labels: scope: core

nit
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/utils.ts
Labels: scope: core

nit
  src/cli/commands/build/build.ts
  src/cli/commands/login/login.ts
Labels: none

feat(telemetry): added more fields (#683)
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/utils.ts
  src/core/utils/options.ts
  src/swa.d.ts
Labels: scope: core

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
