Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

Fixed a stupid mistake，fix schemaUrl value
  src/core/utils/user-config.ts
Labels: none

fix: load staticwebapp.config.json schema locally when timeout
  schema/staticwebapp.config.json
  src/core/constants.ts
  src/core/utils/user-config.ts
Labels: scope: core

fix: load staticwebapp.config.json schema locally when timeout (#808)
  schema/staticwebapp.config.json
  src/core/constants.ts
  src/core/utils/user-config.ts
Labels: scope: core

Deploy website - based on 34864d0a78e971ebdf2b8721fe0a7bfccc0000c3
  404.html
  assets/js/main.50be0767.js
  assets/js/main.50be0767.js.LICENSE.txt
  assets/js/main.87e4ab80.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat: support dotnet-isolated 8.0 for managed APIs
  schema/staticwebapp.config.json
  src/core/constants.ts
Labels: scope: core

feat: support dotnet-isolated 8.0 for managed APIs (#809)
  schema/staticwebapp.config.json
  src/core/constants.ts
Labels: scope: core

Deploy website - based on a31fe5a01b03ab8782ac60dd2273c84ede68215a
  404.html
  assets/js/main.50be0767.js
  assets/js/main.887f47ef.js
  assets/js/main.887f47ef.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

ci: set the actions/labeler version to v4
  .github/workflows/labeler.yml
Labels: none

ci: set the actions/labeler version to v4 (#810)
  .github/workflows/labeler.yml
Labels: none

Deploy website - based on 99216ff9e3f147b3fcda6513946619caf206924c
  404.html
  assets/js/main.408a4707.js
  assets/js/main.408a4707.js.LICENSE.txt
  assets/js/main.887f47ef.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep 1.1.7 release
  package-lock.json
  package.json
Labels: none

chore: prep 1.1.7 release (#811)
  package-lock.json
  package.json
Labels: none

Deploy website - based on 3c0abaa4eb36a57550179e3c9dd079de7c12537e
  404.html
  assets/files/package-6536e78b13e775a51b1fcd741e899746.json
  assets/js/621c628d.618e0bb6.js
  assets/js/621c628d.a3d61c61.js
  assets/js/main.408a4707.js
  assets/js/main.f40e1880.js
  assets/js/main.f40e1880.js.LICENSE.txt
  assets/js/runtime~main.0d2ad4ed.js
  assets/js/runtime~main.c82fc235.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

ci: fix 403 error of CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: none

ci: fix 403 error of CodeQL workflow (#812)
  .github/workflows/codeql-analysis.yml
Labels: none

Deploy website - based on b79c90173b2c558cb0c8ff414fe31a664d654a0b
  404.html
  assets/js/main.99883e0b.js
  assets/js/main.99883e0b.js.LICENSE.txt
  assets/js/main.f40e1880.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

ci: fix 403 failure in azuresdkdrop workflow
  .github/workflows/azuresdkdrop.yml
Labels: none

ci: fix 403 failure in azuresdkdrop workflow (#813)
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on ecfe8158cfeedc325620367698368000ab6f77f9
  404.html
  assets/js/main.99883e0b.js
  assets/js/main.cd537454.js
  assets/js/main.cd537454.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

ci: set permissions to write-all to fix azuresdkdrop workflow
  .github/workflows/azuresdkdrop.yml
Labels: none

ci: set permissions to write-all to fix azuresdkdrop workflow (#814)
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on b027d6920bd3118a4516d5e60b3774d56bb18dcd
  404.html
  assets/js/main.19ae598a.js
  assets/js/main.19ae598a.js.LICENSE.txt
  assets/js/main.cd537454.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: bump to 1.1.8-alpha after release
  package-lock.json
  package.json
Labels: none

chore: bump to 1.1.8-alpha after release (#815)
  package-lock.json
  package.json
Labels: none

Deploy website - based on b9675b31e0cb022238a49975882c3e209ae0e094
  404.html
  assets/files/package-805650ca86039bb3fb6b4cfbb4f67907.json
  assets/js/621c628d.618e0bb6.js
  assets/js/621c628d.9501d13d.js
  assets/js/main.11e9521a.js
  assets/js/main.11e9521a.js.LICENSE.txt
  assets/js/main.19ae598a.js
  assets/js/runtime~main.0d2ad4ed.js
  assets/js/runtime~main.58741c42.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

sku picker complete
  src/core/account.ts
  src/core/prompts.ts
Labels: scope: core

fix condition
  src/core/func-core-tools.ts
Labels: scope: core

ci: set permissions to write-all to fix labeler
  .github/workflows/labeler.yml
Labels: none

Deploy website - based on 60b01ca86a95104e47733ee062c024794e214b0e
  404.html
  assets/js/main.11e9521a.js
  assets/js/main.e40c0cbc.js
  assets/js/main.e40c0cbc.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 3eb66273565d6d705b8412bd94ba11d8ae42a276
  404.html
  assets/js/main.112f69b8.js
  assets/js/main.112f69b8.js.LICENSE.txt
  assets/js/main.e40c0cbc.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

ci: set permissions to write-all to fix labeler (#819)
  .github/workflows/labeler.yml
Labels: none

Deploy website - based on dc37b72f98ca6cb6f9cbcb5b0ecadf66a9dbe869
  404.html
  assets/js/main.112f69b8.js
  assets/js/main.f403974d.js
  assets/js/main.f403974d.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat(auth): Add custom auth support for Google and GitHub providers
  src/core/constants.ts
  src/core/utils/auth.ts
  src/core/utils/cookie.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/msha/handlers/auth.handler.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Fallback to built-in auth for providers with custom auth not implemented
  src/msha/auth/index.ts
Labels: scope: auth

Fixing hanging failed auth requests
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/msha/handlers/auth.handler.ts
Labels: scope: auth

adding expiration to Nonce and making cookie secure and httpOnly
  src/core/utils/auth.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: none

Use StaticWebAppsAuthContextCookie instead of just Nonce cookie and support honor post_login_redirect_uri
  src/core/constants.ts
  src/core/utils/auth.ts
  src/core/utils/cookie.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core

adding signing and encryption
  src/core/utils/auth.ts
  src/core/utils/cookie.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/msha/auth/routes/auth-login-provider.ts
  src/msha/auth/routes/auth-logout-https.spec.ts
  src/msha/auth/routes/auth-logout.spec.ts
  src/msha/auth/routes/auth-logout.ts
Labels: none

Deploy website - based on e8e600323bd1171fd25a3e8c0997044d399e5643
  404.html
  assets/js/main.5e8806ca.js
  assets/js/main.5e8806ca.js.LICENSE.txt
  assets/js/main.f403974d.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep release 1.1.8
  package-lock.json
  package.json
Labels: none
