Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

fix: mshaPath and update deprecated github actions
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detection-e2e-tests.yml
  .github/workflows/e2e.yml
  src/cli/commands/start/start.ts
Labels: none

fix: mshaPath
  src/cli/commands/start/start.ts
Labels: none

fix: github-actions deprecated modules
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
  .github/workflows/detection-e2e-tests.yml
Labels: none

Deploy website - based on 9eb3720af12d86e78b7b12b7f909df296f1bd9b2
  404.html
  assets/js/main.3d6c9d3c.js
  assets/js/main.3d6c9d3c.js.LICENSE.txt
  assets/js/main.44933f76.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 81adcabcee9837585c5e87ad2fe6ea1495efc10c
  404.html
  assets/files/package-4fad34261146f0229acd8c4b68f0f065.json
  assets/js/621c628d.2b1764de.js
  assets/js/621c628d.b4bdb396.js
  assets/js/main.3d6c9d3c.js
  assets/js/main.503e11a8.js
  assets/js/main.503e11a8.js.LICENSE.txt
  assets/js/runtime~main.41064cf6.js
  assets/js/runtime~main.a4002762.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Add check in login command to try to get default tenant and subscription id from azureConfig.json
  src/cli/commands/login/login.ts
  src/core/constants.ts
  src/core/utils/file.ts
  src/swa.d.ts
Labels: scope: core

updated svelte's output location to use the correct folder where it puts built assets. (dist)
  src/core/frameworks/frameworks.ts
Labels: none

Deploy website - based on 4efa278da389dadb34958396f3d83898f92cdb16
  404.html
  assets/js/main.503e11a8.js
  assets/js/main.6fd2e594.js
  assets/js/main.6fd2e594.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Add 'raw' option in start.ts concurrently call so output is properly shown
  src/cli/commands/start/start.ts
Labels: none

Deploy website - based on 3cb595c6ed4fb3dc1447027a0ab7e6a0280ed322
  404.html
  assets/js/main.4ad402da.js
  assets/js/main.4ad402da.js.LICENSE.txt
  assets/js/main.6fd2e594.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix: codeowners
  .github/CODEOWNERS
Labels: none

Deploy website - based on 3c81c111e77b9d40294ce30fc442dc6625c280fe
  404.html
  assets/js/main.4ad402da.js
  assets/js/main.91739196.js
  assets/js/main.91739196.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 8ef7b6bde67f18e5ab70a8e42eced8a9c364c95c
  404.html
  assets/js/f5b83334.7f357688.js
  assets/js/f5b83334.d5fc1b89.js
  assets/js/main.91739196.js
  assets/js/main.91e2a8fc.js
  assets/js/main.91e2a8fc.js.LICENSE.txt
  assets/js/runtime~main.41064cf6.js
  assets/js/runtime~main.dea67c78.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 5bcec8375c1605c0ef15de6298e64ceeb62dc619
  404.html
  assets/js/main.8dc66c22.js
  assets/js/main.8dc66c22.js.LICENSE.txt
  assets/js/main.91e2a8fc.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Refresh node.js supported versions of azure function core tools
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
Labels: scope: core

Delete debug code
  src/core/func-core-tools.ts
Labels: scope: core

Deploy website - based on 41015cc8539d54959efde276e94c559c24bddb7e
  404.html
  assets/js/main.8dc66c22.js
  assets/js/main.c1230e77.js
  assets/js/main.c1230e77.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

2.0.0
  package-lock.json
  package.json
Labels: none

Deploy website - based on c152eaaebb3cf2bce8be18ba3a01d7111d7e5193
  404.html
  assets/files/package-650f0aff4e4b686ba56af8fe71174553.json
  assets/js/621c628d.00d39d44.js
  assets/js/621c628d.b4bdb396.js
  assets/js/main.2dc76773.js
  assets/js/main.2dc76773.js.LICENSE.txt
  assets/js/main.c1230e77.js
  assets/js/runtime~main.4be754c0.js
  assets/js/runtime~main.dea67c78.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Fix msha auth import function
  src/msha/auth/index.ts
Labels: scope: auth

Add node:20 to the allowed api runtimes configuration. Fixes issue #864
  schema/staticwebapp.config.json
Labels: none

Deploy website - based on 4a481edf146eb654d101ccf23976e87c37ad53b0
  404.html
  assets/js/main.2dc76773.js
  assets/js/main.caae87a6.js
  assets/js/main.caae87a6.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

(#871) fix: import JSON files using createRequire
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/utils/json.spec.ts
  src/core/utils/json.ts
  src/core/utils/update-notifier.ts
Labels: scope: cli

Deploy website - based on e06191e4fe2b9fa079ebb41367ffadd0d442cde3
  404.html
  assets/js/main.0d1ac7b4.js
  assets/js/main.0d1ac7b4.js.LICENSE.txt
  assets/js/main.caae87a6.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

2.0.1
  package-lock.json
  package.json
Labels: none

Update package.json node and npm engines
  package.json
Labels: none

Deploy website - based on 8d0b7aab27f770070de75b7c58889935da95a9c7
  404.html
  assets/files/package-d4108723c5bbf573d9a24d84413ff1b3.json
  assets/js/621c628d.00d39d44.js
  assets/js/621c628d.25cc9638.js
  assets/js/main.0d1ac7b4.js
  assets/js/main.f8bb492e.js
  assets/js/main.f8bb492e.js.LICENSE.txt
  assets/js/runtime~main.1620a54d.js
  assets/js/runtime~main.4be754c0.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Add AAD custom authentication in MSHA emulator
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Change AAD auth routes to use aad in the URL
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: scope: core, scope: auth

Refactor custom auth files to generic functions for all auth providers
  src/core/constants.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/swa.d.ts
Labels: scope: core

Fix missed changes
  src/msha/auth/routes/auth-login-provider-callback.ts
Labels: none

Fix typos
  src/core/constants.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: scope: core

Fix typos
  src/msha/auth/routes/auth-login-provider-callback.ts
Labels: none

Address PR comments. Change AAD variable to ENTRA_ID. Change route matching to use supported auth constant list.
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: scope: core, scope: auth

Deploy website - based on 79383841e87ce0f430c843c6ba0db4b4ca6d378f
  404.html
  assets/js/main.3d30f6d1.js
  assets/js/main.3d30f6d1.js.LICENSE.txt
  assets/js/main.f8bb492e.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

initial commit for Facebook custom auth support
  package-lock.json
  package.json
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Remove unused code
  src/core/constants.ts
Labels: scope: core

Fix AAD custom auth bug
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: none

Fix swa.md typo
  docs/www/docs/cli/swa.md
Labels: none

Deploy website - based on b298821949654745497e53bebbfec66619afb6a3
  404.html
  assets/js/a7cb349a.9fc27ee0.js
  assets/js/a7cb349a.d43565c9.js
  assets/js/main.3d30f6d1.js
  assets/js/main.c605bb22.js
  assets/js/main.c605bb22.js.LICENSE.txt
  assets/js/runtime~main.1620a54d.js
  assets/js/runtime~main.c2626d1b.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
