Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: proxy

Fix proxy startup command
  src/cli/commands/start.ts
Labels: none

fix: using concurrently programmatically (#71)
  .gitignore
  package-lock.json
  package.json
  readme.md
  src/cli/commands/start.ts
  src/core/builder.ts
  src/core/runtimeHost.spec.ts
  src/core/runtimeHost.ts
  src/core/utils.test.ts
  src/core/utils.ts
Labels: scope: core

chore: update package-lock.json
  package-lock.json
Labels: none

build: add npm prepare script
  package.json
Labels: none

build: add npm prepare script (#95)
  package.json
Labels: none

adding a devcontainer for vscode remote + codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Labels: none

container will auto-install
  .devcontainer/devcontainer.json
Labels: none

chore: add a devcontainer (#97)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Labels: none

fix: update CLI bin file permissions
  src/cli/index.ts
Labels: scope: cli

fix: update CLI bin file permissions (#98)
  src/cli/index.ts
Labels: scope: cli

fix: remove npx to start func command
  src/cli/commands/start.ts
Labels: none

fix: remove npx to start func command (#99)
  src/cli/commands/start.ts
Labels: none

chore: isPortAvailable > isAcceptingTcpConnections
  src/cli/commands/start.ts
  src/core/utils.ts
Labels: scope: core

chore: isPortAvailable > isAcceptingTcpConnections (#100)
  src/cli/commands/start.ts
  src/core/utils.ts
Labels: scope: core

feat: handle user custom configuration
  src/config.ts
  src/core/utils.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

chore: rename public/index.html to public/auth.html
  scripts/copy-assets.js
  src/auth/routes/app_auth_login_provider.ts
  src/public/auth.html
Labels: none

chore: add jest-extended
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: none

fix: update tests for Windows
  src/core/utils.test.ts
Labels: scope: core

fix: handle query params when matching user config
  src/proxy/routes-engine.spec.ts
  src/proxy/routes-engine.ts
Labels: scope: proxy

chore: add unit tests for the routes engine
  src/proxy/routes-engine.spec.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
Labels: scope: proxy

fix: avoid ERR_TOO_MANY_REDIRECTS
  src/proxy/routes-engine.ts
Labels: scope: proxy

fix: improve swa config find algorithm
  src/config.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

chore: reorganize routes engine rules
  src/proxy/routes-engine.response-overrides.spec.ts
  src/proxy/routes-engine.ts
  src/proxy/routes-engine/index.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/routes-engine/rules/globalHeaders.spec.ts
  src/proxy/routes-engine/rules/globalHeaders.ts
  src/proxy/routes-engine/rules/mimeTypes.spec.ts
  src/proxy/routes-engine/rules/mimeTypes.ts
  src/proxy/routes-engine/rules/responseOverrides.spec.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
  src/proxy/server.ts
Labels: scope: proxy

feat: add responseOverrides, globalHeaders, mimeTypes
  src/proxy/routes-engine.custom-routes.spec.ts
  src/proxy/routes-engine.global-headers.spec copy.ts
  src/proxy/routes-engine.mime-types.spec.ts
  src/proxy/routes-engine.response-overrides.spec.ts
  src/proxy/routes-engine.spec.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: proxy

fix: perform auth check even if cookies aren't set
  src/proxy/routes-engine.ts
Labels: scope: proxy

feat: add support for navigationFallback
  package-lock.json
  package.json
  src/core/runtimeHost.spec.ts
  src/core/runtimeHost.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
  src/proxy/server.ts
Labels: scope: core, scope: proxy

chore: fix broken tests after merge
  package-lock.json
  src/core/runtimeHost.spec.ts
  src/core/runtimeHost.ts
Labels: scope: core

fix: null mimeTypes
  src/proxy/routes-engine/rules/mimeTypes.ts
Labels: none

fix: check for undefined and null config
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/routes-engine/rules/globalHeaders.spec.ts
  src/proxy/routes-engine/rules/mimeTypes.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.ts
  src/proxy/routes-engine/rules/responseOverrides.spec.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
Labels: none

chore: use es imports for fs
  src/core/utils.ts
Labels: scope: core

chore: add test for valid CLI host and port
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/server.ts
Labels: scope: core, scope: proxy

chore: sync package-lock.json
  package-lock.json
Labels: none

fix: make sure to restore mocked fs after test
  src/core/runtimes.spec.ts
  src/core/utils.test.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
Labels: scope: core

feat: add support for navigationFallback
  package-lock.json
  package.json
  src/core/runtimeHost.spec.ts
  src/core/runtimeHost.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
  src/proxy/server.ts
Labels: scope: core, scope: proxy

feat: add responseOverrides, globalHeaders, mimeTypes
  src/proxy/routes-engine.custom-routes.spec.ts
  src/proxy/routes-engine.global-headers.spec copy.ts
  src/proxy/routes-engine.mime-types.spec.ts
  src/proxy/routes-engine.response-overrides.spec.ts
  src/proxy/routes-engine.spec.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: proxy

chore: add test for valid CLI host and port
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/server.ts
Labels: scope: core, scope: proxy

chore: use es imports for fs
  src/core/utils.ts
Labels: scope: core

chore: add unit tests for the routes engine
  src/proxy/routes-engine.spec.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
Labels: scope: proxy

fix: make sure to restore mocked fs after test
  src/core/runtimes.spec.ts
  src/core/utils.test.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
Labels: scope: core

feat: handle user custom configuration
  src/config.ts
  src/core/utils.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*
  
"scope: auth":
  - src/auth/*
 
"scope: proxy":
  - src/proxy/*
