Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

feat: introduce SWA_CLI_DEPLOY_BINARY_VERSION
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core

docs: how to deploy Blazor apps
  readme.md
Labels: none

ci: update e2e-deploy-* jobs
  .github/workflows/node.yml
Labels: none

chore: don't print --deployment-token in logs
  src/core/deploy-client.ts
  src/core/utils/logger.ts
Labels: scope: core

chore: fix broken logs
  src/cli/commands/deploy.ts
  src/core/deploy-client.ts
Labels: scope: core

ci: update lockfileVersion in package-lock.json
  package-lock.json
Labels: none

fix: verbose flag value when prefix is omitted
  src/cli/index.ts
Labels: scope: cli

test: add unit tests for options
  src/core/utils/options.spec.ts
Labels: none

refactor: add missing config options
  src/swa.d.ts
Labels: none

fix: missing global options in start command
  src/cli/index.ts
Labels: scope: cli

chore: upgrade to latest commander version
  package-lock.json
  package.json
  src/cli/index.spec.ts
  src/cli/index.ts
Labels: scope: cli

fix: allow overriding config file with cli flags (closes #419)
  src/cli/index.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
Labels: scope: cli

chore: add contact links to issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

fix: logging when verbose is not set
  src/cli/index.ts
Labels: scope: cli

feat: provide complete devcontainer with support for e2e tests (closes #425)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/node-debian.sh
Labels: none

test: fix blazor e2e tests
  cypress/fixtures/blazor-starter/swa-cli.config.json
Labels: none

feat: add required packages to run cypress
  .devcontainer/Dockerfile
Labels: none

test: bump blazor dev server timeout for 1st run
  cypress/fixtures/blazor-starter/swa-cli.config.json
Labels: none

chore: fix devcontainer install
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

feat: add init command
  package-lock.json
  package.json
  src/cli/commands/init.ts
  src/cli/index.ts
  src/core/utils/cli-config.ts
  src/core/utils/index.ts
  src/core/utils/options.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
  src/swa.d.ts
Labels: scope: cli

feat: add initial support for swa login
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/cli/index.ts
  src/config.ts
  src/core/account.ts
  src/core/prompts.ts
  src/core/utils/platform.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

fix: use project name argument
  src/cli/commands/init.ts
Labels: none

refactor: move type to swa.d.ts
  src/swa.d.ts
Labels: none

test: add unit tests for swa init
  src/cli/commands/init.spec.ts
Labels: none

feat: add support for dotenv
  package-lock.json
  package.json
  src/cli/commands/deploy.ts
Labels: none

fix: remove hardcoded binary URL
  src/core/deploy-client.ts
Labels: scope: core

fix: comment out unused code for testing
  src/cli/commands/init.ts
  src/cli/index.ts
Labels: scope: cli

fix: improve query params logic if dev server
  src/core/constants.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/mime-types.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: core, scope: rules engine

chore: changed login success message
  src/cli/commands/login.ts
Labels: none

feat: allow overriding config file with CLI flags (closes #419) (#420)
  package-lock.json
  package.json
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
  src/swa.d.ts
Labels: scope: cli

chore: fix copy assets when git isnt installed
  scripts/copy-assets.js
Labels: none

chore: npm audit fix
  package-lock.json
Labels: none

feat: add swa deploy
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

feat: swa deploy
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

feat: swa deploy (wip)
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.ts
  src/core/utils/logger.ts
Labels: scope: core, scope: cli

chore: add unit tests for deploy command
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/core/utils/logger.ts
Labels: none

docs: update readme with swa deploy
  readme.md
Labels: none

docs: update command help
  src/cli/commands/deploy.ts
  src/cli/index.ts
Labels: scope: cli

chore: test getLocalClientMetadata
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
Labels: scope: core

docs: update schema file
  schema/swa-cli.config.schema.json
  src/cli/index.ts
Labels: scope: cli
