Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

unit tests
  src/cli/commands/telemetry/telemetry.spec.ts
Labels: none

fix: typo in functionName
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/login/login.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/logger.ts
Labels: none

fix: index.ts in tests
  src/cli/commands/deploy/index.ts
Labels: none

feat: Added support for new languages and versions
  src/cli/commands/deploy/register.ts
  src/cli/commands/init/init.ts
  src/core/functions-versions.ts
Labels: scope: core

nit
  src/cli/commands/telemetry/telemetry.spec.ts
  src/cli/commands/telemetry/telemetry.ts
Labels: none

fix: typo in functionName (#660)
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/login/login.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/logger.ts
Labels: none

nit: resolve comments
  .vscode/launch.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/core/constants.ts
  src/core/functions-versions.ts
Labels: scope: core

fix: dotnetIsolated naming
  src/core/frameworks/frameworks.ts
Labels: none

more comments
  src/cli/commands/telemetry/telemetry.spec.ts
  src/cli/commands/telemetry/telemetry.ts
  src/core/telemetry/utils.ts
Labels: none

feat(telemetry): added new flags and env variable for opting out (#656)
  src/cli/commands/index.ts
  src/cli/commands/telemetry/index.ts
  src/cli/commands/telemetry/register.ts
  src/cli/commands/telemetry/telemetry.spec.ts
  src/cli/commands/telemetry/telemetry.ts
  src/cli/index.ts
  src/core/constants.ts
  src/core/telemetry/utils.ts
  src/core/utils/file.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

Added swa db init command (#6)
  src/cli/commands/db/index.ts
  src/cli/commands/db/init.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/core/dataApiBuilder/index.ts
  src/core/utils/command.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

updating register command changes for dab
  src/cli/commands/start/register.ts
Labels: none

build error
  package-lock.json
  src/cli/commands/start/start.ts
Labels: none

reverting few package-lock changes
  package-lock.json
Labels: none

move registerdb out to keep it consistent with others
  src/cli/commands/db/index.ts
  src/cli/commands/db/init.ts
  src/cli/commands/db/register.ts
  src/cli/index.ts
Labels: scope: cli

refactor: moved dab init files to subfolder to accommodate dab add, dab update commands later
  package-lock.json
  package.json
  src/cli/commands/db/index.ts
  src/cli/commands/db/init/index.ts
  src/cli/commands/db/init/init.ts
  src/cli/commands/db/init/register.ts
  src/cli/commands/start/start.ts
  src/cli/index.ts
Labels: scope: cli

nit: addressing comments from older PR
  src/cli/commands/db/init/init.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/start/start.ts
Labels: none

fix: add support for downloading latest tag/specific version
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/deploy-client.ts
  src/swa.d.ts
Labels: scope: core

fix: comment pinned version code
  src/core/dataApiBuilder/dab.ts
Labels: none

Added support for custom data api location for the deploy command (cli arg, config file parameter, workflow file parameter)
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/register.ts
  src/core/utils/user-config.ts
  src/swa.d.ts
Labels: none

Update src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/deploy.ts
Labels: none

adding logging when folder is found and error out when folder not found
  src/cli/commands/deploy/deploy.ts
Labels: none

typo
  src/cli/commands/deploy/deploy.ts
Labels: none

Added data_api_location to gh action workflow file extraction
  src/core/utils/workflow-config.ts
Labels: none

Undo changes for bugfix, will have bugfix in separate PR
  src/core/utils/workflow-config.ts
Labels: none

Adding dataApiLocation to deploy command parameters
  schema/swa-cli.config.schema.json
Labels: none

nit: triggering new build
  src/cli/commands/start/start.ts
Labels: none

feat: dab integration (#662)
  docs/www/docs/contribute/99-troubleshooting.md
  package-lock.json
  src/cli/commands/db/index.ts
  src/cli/commands/db/init/index.ts
  src/cli/commands/db/init/init.ts
  src/cli/commands/db/init/register.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/start/register.ts
  src/cli/commands/start/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/dataApiBuilder/index.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/core/download-binary-helper.ts
  src/core/utils/command.ts
  src/core/utils/platform.ts
  src/msha/handlers/dab.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

chore: prep-release 1.1.0
  package-lock.json
  package.json
Labels: none

chore: prep-release 1.1.0 (#667)
  package-lock.json
  package.json
Labels: none

chore: bump into 1.1.1-alpha after release
  package-lock.json
  package.json
Labels: none

chore: bump into 1.1.1-alpha after release (#668)
  package-lock.json
  package.json
Labels: none

chore: nit comments
  src/core/utils/workflow-config.ts
Labels: none

Add support for custom data api location for the deploy command (#664)
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/register.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
  src/swa.d.ts
Labels: none

Squashed commit of the following:
  package-lock.json
  package.json
Labels: none

Add support for custom data api location for the deploy command (#664)
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/register.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
  src/swa.d.ts
Labels: none

fix: add tags for Staticsiteclient latest and dab
  src/core/constants.ts
Labels: scope: core

Add support for custom data api location for the deploy command (#664) (#669)
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/deploy/register.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
  src/swa.d.ts
Labels: none

chore: prep-release-1.1.1
  package-lock.json
  package.json
Labels: none

chore: prep-release-1.1.1 (#676)
  package-lock.json
  package.json
Labels: none
