Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

docs: update swa login
  docs/www/docs/cli/swa-login.md
Labels: none

docs: add aliases to swa login docs
  docs/www/docs/cli/swa-login.md
Labels: none

docs: update swa deploy docs
  docs/www/docs/cli/swa-deploy.md
Labels: none

docs: remove all refs to 1.0.0-preview
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-build.md
  docs/www/docs/cli/swa-init.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa-start.md
  docs/www/docs/cli/swa.md
  docs/www/docs/intro.md
  docs/www/docusaurus.config.js
Labels: none

docs: fix formating
  docs/www/docs/contribute/2-developer.md
  docs/www/docusaurus.config.js
  docs/www/package.json
Labels: none

docs: add bash highlighting
  docs/DEVELOPER.md
  docs/www/README.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa.md
  docs/www/docs/contribute/2-developer.md
Labels: none

docs: update env vars docs
  docs/www/docs/cli/env-vars.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

docs: add schema validation for swa init
  docs/www/docs/cli/swa-config.md
Labels: none

docs: add swa build docs
  docs/www/docs/cli/swa-build.md
Labels: none

docs: add swa start docs
  docs/www/docs/cli/swa-start.md
Labels: none

Deploy website - based on a76c39d88e1dd46facc5729014d1ea88f5bc8298
  404.html
  assets/js/64516836.0d2c4685.js
  assets/js/64516836.d2f981ae.js
  assets/js/runtime~main.0b9173ef.js
  assets/js/runtime~main.89e6f636.js
  docs/cli/env-vars/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
  markdown-page/index.html
Labels: none

docs: fix typos
  docs/www/docusaurus.config.js
Labels: none

Deploy website - based on 85d573b9a9ed9c02dfeab457015e3be96bb97f57
  404.html
  assets/js/1ff2b79a.24023a22.js
  assets/js/1ff2b79a.ad37bbdd.js
  assets/js/main.eb43ae9d.js
  assets/js/main.eb43ae9d.js.LICENSE.txt
  assets/js/main.fcddcaff.js
  assets/js/runtime~main.0b9173ef.js
  assets/js/runtime~main.16246334.js
  docs/cli/env-vars/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
  markdown-page/index.html
Labels: none

docs: update swa build docs
  docs/www/docs/cli/swa-build.md
Labels: none

docs: add swa init docs
  docs/www/docs/cli/swa-init.md
Labels: none

docs: improve swa docs
  docs/www/docs/cli/swa.md
Labels: none

docs: update install doc
  docs/www/docs/use/1-install.md
  docs/www/src/components/HomepageFeatures/index.js
Labels: none

docs: case
  docs/www/docs/use/2-emulator.md
Labels: none

Update src/cli/commands/deploy.ts
  src/cli/commands/deploy.ts
Labels: none

fix: detection with some frameworks when run at root path
  e2e/__snapshots__/detect.spec.js.snap
  e2e/detect.spec.js
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
Labels: none

fix: deploy print-token even if app has provider
  src/cli/commands/deploy.ts
  src/core/account.ts
Labels: scope: core

fix: flutter detection
  src/core/frameworks/frameworks.ts
Labels: none

test: fix broken test
  src/core/utils/options.spec.ts
Labels: none

feat: add swa docs
  src/cli/commands/docs.ts
  src/cli/index.ts
Labels: scope: cli

fix: detection with some frameworks when run at root path
  e2e/__snapshots__/detect.spec.js.snap
  e2e/detect.spec.js
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
Labels: none

test: fix broken test
  src/core/utils/options.spec.ts
Labels: none

fix: flutter detection
  src/core/frameworks/frameworks.ts
Labels: none

test: exclude samples from codeql
  .github/codeql/codeql-config.tml
  .github/workflows/codeql-analysis.yml
Labels: none

test: fix config name
  .github/codeql/codeql-config.yml
Labels: none

feat: add swa docs
  src/cli/commands/docs.ts
  src/cli/index.ts
Labels: scope: cli

chore: enhance error message for missing staticwebapp.config.json (#478)
  src/cli/commands/deploy.ts
Labels: none

chore: update src/core/account.ts
  src/core/account.ts
Labels: scope: core

fix: deploy print-token even if app has provider (#480)
  src/cli/commands/deploy.ts
  src/core/account.ts
Labels: scope: core

fix: move the runtime config file under appLocation (#471)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  cypress/fixtures/blazor-starter/Client/staticwebapp.config.json
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/app/staticwebapp.config.json
  cypress/fixtures/static/staticwebapp.config.json
  cypress/fixtures/static/swa-cli.config.json
  cypress/integration/authentication.js
  cypress/integration/authorization.js
  cypress/integration/error-pages.js
  cypress/integration/functions.js
  cypress/integration/mime-type.js
  cypress/integration/route-rules.js
  package.json
  scripts/cert.sh
Labels: none

ci: deploy docs to GH Pages
  .github/workflows/deploy-docs.yml
Labels: none

chore: rename docs register command
  src/cli/commands/docs.ts
  src/cli/index.ts
Labels: scope: cli

ci: deploy docs to GH Pages (#484)
  .github/workflows/deploy-docs.yml
Labels: none

docs: update docs to latest state (#479)
  docs/DEVELOPER.md
  docs/swa-cli.config.json
  docs/www/README.md
  docs/www/docs/cli/1-swa.md
  docs/www/docs/cli/2-swa-login.md
  docs/www/docs/cli/3-swa-start.md
  docs/www/docs/cli/4-swa-deploy.md
  docs/www/docs/cli/5-swa-cli-config.md
  docs/www/docs/cli/6-env-vars.md
  docs/www/docs/cli/_category_.json
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-build.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-init.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa-start.md
  docs/www/docs/cli/swa.md
  docs/www/docs/contribute/2-developer.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/intro.md
  docs/www/docs/use/1-install.md
  docs/www/docs/use/2-emulator.md
  docs/www/docusaurus.config.js
  docs/www/package.json
  docs/www/src/components/HomepageFeatures/index.js
  docs/www/src/components/HomepageFeatures/styles.module.css
  docs/www/static/img/landing-configure-icon.svg
  docs/www/static/img/landing-deploy-icon.svg
  docs/www/static/img/landing-init-icon.svg
  docs/www/static/img/landing-install-icon.svg
  docs/www/static/img/landing-login-icon.svg
  docs/www/static/img/landing-start-icon.svg
  docs/www/static/img/swa-arch.png
Labels: none

fix: use dotnet publish instead of dotnet build
  src/core/frameworks/frameworks.ts
Labels: none

docs: update styles + add logo + build hash
  docs/www/docusaurus.config.js
  docs/www/src/components/HomepageFeatures/styles.module.css
  docs/www/src/css/custom.css
  docs/www/src/pages/index.js
  docs/www/src/pages/index.module.css
  docs/www/src/pages/markdown-page.md
  docs/www/static/img/docusaurus.png
  docs/www/static/img/logo.svg
  docs/www/static/img/swa-cli-logo.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-black.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-grad.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-3dbdcf.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-black.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-cc4fc2.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-e1325a.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-eb5281.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-ef87aa.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline-grad.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-outline.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo-white.svg
  docs/www/static/img/swa-cli-logos/swa-cli-logo.svg
  docs/www/static/img/tutorial/docsVersionDropdown.png
  docs/www/static/img/tutorial/localeDropdown.png
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
