Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

chore: remove --run-build option
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/swa.d.ts
Labels: none

fix: prevent browser from opening on react dev server
  src/cli/commands/start.ts
Labels: none

chore: fix extra import
  src/cli/commands/start.ts
Labels: none

ci: e2e using electron
  .github/workflows/node.yml
Labels: none

ci: add e2e workflow
  .github/workflows/e2e.yml
Labels: none

Docs Refresh #2
  docs/www/docs/cli/6-env-vars.md
  docs/www/docs/contribute/2-developer.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/intro.md
  docs/www/docusaurus.config.js
  docs/www/src/components/HomepageFeatures/index.js
  docs/www/src/components/HomepageFeatures/styles.module.css
  docs/www/static/img/landing-configure-icon.svg
  docs/www/static/img/landing-deploy-icon.svg
  docs/www/static/img/landing-init-icon.svg
  docs/www/static/img/landing-install-icon.svg
  docs/www/static/img/landing-login-icon.svg
  docs/www/static/img/landing-start-icon.svg
  docs/www/static/img/swa-arch.png
Labels: none

Docs Refresh: v1 for new 1.0.0-preview version
  docs/www/docs/cli/1-swa.md
  docs/www/docs/cli/2-swa-login.md
  docs/www/docs/cli/3-swa-start.md
  docs/www/docs/cli/4-swa-deploy.md
  docs/www/docs/cli/5-swa-cli-config.md
  docs/www/docs/cli/_category_.json
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-build.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-init.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa-start.md
  docs/www/docs/cli/swa.md
  package-lock.json
Labels: none

Updating config for production repo deploy (for PR)
  docs/www/docusaurus.config.js
Labels: none

fix: stuck progress bar
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
Labels: scope: core

fix: prevent browser from opening on react dev server
  src/cli/commands/start.ts
Labels: none

chore: remove --run-build option
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/swa.d.ts
Labels: none

chore: fix extra import
  src/cli/commands/start.ts
Labels: none

ci: add Node 18 tests
  .github/workflows/detection-e2e-tests.yml
  .github/workflows/node.yml
Labels: none

feat: add runtime node version check
  src/cli/index.ts
Labels: scope: cli

chore: remove unused package globalyzer
  package-lock.json
  package.json
Labels: none

revert: remane --server-timeout option
  cypress/fixtures/blazor-starter/swa-cli.config.json
  docs/www/docs/cli/3-swa-start.md
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/config.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: msha, status: need internal approval

revert: remane --server-timeout option
  cypress/fixtures/blazor-starter/swa-cli.config.json
  docs/www/docs/cli/3-swa-start.md
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/config.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: msha, status: need internal approval

docs: add missing env variables
  docs/ENV.md
Labels: none

feat: add env vars support for dev server options
  docs/ENV.md
  src/cli/commands/start.ts
  src/config.ts
Labels: none

refactor: rename dev server options
  docs/ENV.md
  schema/swa-cli.config.schema.json
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/config.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/frameworks.ts
  src/swa.d.ts
Labels: none

test: fix unit tests
  src/core/deploy-client.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/file.spec.ts
  src/core/utils/glob.spec.ts
  src/core/utils/net.spec.ts
  src/core/utils/strings.spec.ts
  src/msha/routes-engine/rules/headers.spec.ts
  src/msha/routes-engine/rules/routes.spec.ts
Labels: scope: core

feat: add env vars support for dev server options
  docs/ENV.md
  src/cli/commands/start.ts
  src/config.ts
Labels: none

test: fix unit tests
  src/core/deploy-client.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/file.spec.ts
  src/core/utils/glob.spec.ts
  src/core/utils/net.spec.ts
  src/core/utils/strings.spec.ts
  src/msha/routes-engine/rules/headers.spec.ts
  src/msha/routes-engine/rules/routes.spec.ts
Labels: scope: core

docs: add missing env variables
  docs/ENV.md
Labels: none

refactor: rename dev server options
  docs/ENV.md
  schema/swa-cli.config.schema.json
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/config.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/frameworks.ts
  src/swa.d.ts
Labels: none

ci: update codeql
  .github/workflows/codeql-analysis.yml
Labels: none

feat(cli): add alias for swa cli global options
  src/cli/index.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
Labels: scope: cli

feat(cli): add alias for swa cli start options
  src/cli/commands/start.ts
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add alias for swa deploy & init options
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add alias for swa login & build options
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add more alias flags & update README
  readme.md
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/utils/options.spec.ts
Labels: scope: cli

Enhanced missing apiRuntime error message
  src/cli/commands/deploy.ts
Labels: none

docs: update docs to latest state
  docs/swa-cli.config.json
  docs/www/docs/cli/1-swa.md
  docs/www/docs/cli/2-swa-login.md
  docs/www/docs/cli/3-swa-start.md
  docs/www/docs/cli/4-swa-deploy.md
  docs/www/docs/cli/5-swa-cli-config.md
  docs/www/docs/cli/6-env-vars.md
  docs/www/docs/cli/_category_.json
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-build.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-init.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa-start.md
  docs/www/docs/cli/swa.md
  docs/www/docs/contribute/2-developer.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/intro.md
  docs/www/docusaurus.config.js
  docs/www/src/components/HomepageFeatures/index.js
  docs/www/src/components/HomepageFeatures/styles.module.css
  docs/www/static/img/landing-configure-icon.svg
  docs/www/static/img/landing-deploy-icon.svg
  docs/www/static/img/landing-init-icon.svg
  docs/www/static/img/landing-install-icon.svg
  docs/www/static/img/landing-login-icon.svg
  docs/www/static/img/landing-start-icon.svg
  docs/www/static/img/swa-arch.png
Labels: none

chore: code review
  src/cli/commands/start.ts
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add alias for swa cli start options
  src/cli/commands/start.ts
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add alias for swa cli global options
  src/cli/index.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
Labels: scope: cli

feat(cli): add alias for swa deploy & init options
  src/core/utils/options.spec.ts
Labels: none

chore: code review
  src/cli/commands/start.ts
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add alias for swa login & build options
  src/core/utils/options.spec.ts
Labels: none

feat(cli): add more alias flags & update README
  readme.md
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/utils/options.spec.ts
Labels: scope: cli
