Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

fix: swa build path when ran from swa start --run-build
  src/cli/commands/start.ts
Labels: none

fix: unwanted warning
  src/core/utils/cli-config.ts
Labels: none

fix: downgrade deps to avoid breaking changes
  jest.config.js
  package-lock.json
  package.json
  src/cli/commands/deploy.spec.ts
  src/cli/index.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/utils/logger.ts
  src/core/utils/user-config.spec.ts
  src/msha/server.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

chore: upgrade npm deps and fix breaking types (WIP)
  .nvmrc
  package-lock.json
  package.json
  src/cli/commands/deploy.ts
  src/core/deploy-client.ts
  src/core/env.ts
  src/core/func-core-tools.ts
  src/core/utils/logger.ts
  src/core/utils/user-config.ts
  src/msha/auth/index.ts
  src/msha/handlers/function.handler.ts
  src/msha/server.ts
Labels: scope: core, scope: auth, scope: msha, status: need internal approval

fix: downgrade deps to avoid breaking changes
  jest.config.js
  package-lock.json
  package.json
  src/cli/commands/deploy.spec.ts
  src/cli/index.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/utils/logger.ts
  src/core/utils/user-config.spec.ts
  src/msha/server.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

refactor: typo
  schema/swa-cli.config.schema.json
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
  src/cli/commands/start.ts
  src/swa.d.ts
Labels: none

fix: missing --app-location option on swa deploy
  src/cli/commands/deploy.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
  src/cli/commands/start.ts
  src/swa.d.ts
Labels: none

refactor: typo
  schema/swa-cli.config.schema.json
Labels: none

feat: add swa build command and swa start --runBuild option (closes #380)
  schema/swa-cli.config.schema.json
  src/cli/commands/build.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/index.ts
  src/core/utils/file.ts
  src/core/utils/workflow-config.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

refactor: review
  src/cli/commands/build.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

test: add tests
  src/core/utils/file.spec.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

refactor: review
  src/cli/commands/build.ts
Labels: none

fix: package.json search with path ending with /
  src/core/utils/file.spec.ts
  src/core/utils/file.ts
Labels: none

refactor: remove unused runtime host
  src/core/runtime-host.spec.ts
  src/core/runtime-host.ts
Labels: scope: core

fix: unwanted warning
  src/core/utils/cli-config.ts
Labels: none

feat: initial build implementation
  schema/swa-cli.config.schema.json
  src/cli/commands/build.spec.ts
  src/cli/commands/build.ts
  src/config.ts
  src/core/builder.ts
  src/core/constants.ts
  src/core/runtimes.spec.ts
  src/core/runtimes.ts
  src/swa.d.ts
Labels: scope: core

test: update fixtures
  e2e/.gitignore
  e2e/fixtures/astro-node/node/get-hello/function.json
  e2e/fixtures/astro-node/node/get-hello/index.js
  e2e/fixtures/static-node-ts/node-ts/get-hello/function.json
  e2e/fixtures/static-node-ts/node-ts/get-hello/index.ts
Labels: none

fix: printing undefined values
  src/cli/commands/build.ts
Labels: none

test(build): add swa build tests
  src/cli/commands/build.spec.ts
Labels: none

fix: swa build path when ran from swa start --run-build
  src/cli/commands/start.ts
Labels: none

fix: try to use correct path for swa start run commands
  src/cli/commands/build.ts
  src/cli/commands/start.ts
  src/core/utils/file.spec.ts
  src/core/utils/file.ts
Labels: none

fix(init): outputLocation path generation
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
Labels: none

feat: make positional arguments explicit
  schema/swa-cli.config.schema.json
  src/cli/commands/build.ts
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
  src/swa.d.ts
Labels: scope: cli

refactor(init): remove trailing path sep from generated paths
  src/cli/commands/init.spec.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

docs(init): mention swa build after swa init
  src/cli/commands/init.ts
Labels: none

fix: swa start startup command path
  src/cli/commands/start.ts
Labels: none

fix: add missing --output-location flag
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

docs(start): update preview message
  src/cli/commands/start.ts
Labels: none

chore: remove unused assets
  package-lock.json
  schema/staticwebapp.config.schema.draft-07.json
  schema/staticwebapp.config.schema.json
  scripts/copy-assets.js
  scripts/localhost.crt
  scripts/localhost.key
Labels: none

Updated docusaurus.config.js for GH pages
  docs/www/docusaurus.config.js
Labels: none

removed blog and releases sections
  docs/www/blog/2022-04-05-welcome.md
  docs/www/blog/authors.yml
  docs/www/docs/contribute/1-intro.md
  docs/www/docusaurus.config.js
Labels: none

refactor: review
  src/cli/index.ts
Labels: scope: cli
