Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: proxy

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*
  
"scope: auth":
  - src/auth/*
 
"scope: proxy":
  - src/proxy/*

fix: avoid ERR_TOO_MANY_REDIRECTS
  src/proxy/routes-engine.ts
Labels: scope: proxy

chore: rename public/index.html to public/auth.html
  scripts/copy-assets.js
  src/auth/routes/app_auth_login_provider.ts
  src/public/auth.html
Labels: none

chore: add jest-extended
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: none

fix: check for undefined and null config
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/routes-engine/rules/globalHeaders.spec.ts
  src/proxy/routes-engine/rules/mimeTypes.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.ts
  src/proxy/routes-engine/rules/responseOverrides.spec.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
Labels: none

fix: improve swa config find algorithm
  src/config.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/routes-engine.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

fix: null mimeTypes
  src/proxy/routes-engine/rules/mimeTypes.ts
Labels: none

chore: fix broken tests after merge
  package-lock.json
  src/core/runtimeHost.spec.ts
  src/core/runtimeHost.ts
Labels: scope: core

chore: reorganize routes engine rules
  src/proxy/routes-engine.response-overrides.spec.ts
  src/proxy/routes-engine.ts
  src/proxy/routes-engine/index.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/routes-engine/rules/globalHeaders.spec.ts
  src/proxy/routes-engine/rules/globalHeaders.ts
  src/proxy/routes-engine/rules/mimeTypes.spec.ts
  src/proxy/routes-engine/rules/mimeTypes.ts
  src/proxy/routes-engine/rules/responseOverrides.spec.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
  src/proxy/server.ts
Labels: scope: proxy

fix: handle query params when matching user config
  src/proxy/routes-engine.spec.ts
  src/proxy/routes-engine.ts
Labels: scope: proxy

chore: sync package-lock.json
  package-lock.json
Labels: none

fix: update tests for Windows
  src/core/utils.test.ts
Labels: scope: core

fix: perform auth check even if cookies aren't set
  src/proxy/routes-engine.ts
Labels: scope: proxy

fix: move auth middleware to proxy
  readme.md
  src/auth/index.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: auth, scope: proxy

fix: move static app middleware to proxy
  package-lock.json
  package.json
  readme.md
  src/auth/index.ts
  src/auth/routes/auth_login_provider.ts
  src/auth/routes/auth_logout.ts
  src/auth/routes/auth_me.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/builder.ts
  src/core/utils.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: auth, scope: proxy

fix: show full URL only when using dev server
  src/proxy/server.ts
Labels: scope: proxy

fix: check if proxy port is used before start
  src/cli/commands/start.ts
Labels: none

fix: improve static content server
  src/proxy/server.ts
Labels: scope: proxy

fix: close connection after HTTP redirection
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
Labels: none

fix: remove console.log calls
  src/proxy/routes-engine/rules/customRoutes.ts
Labels: none

fix: improve static content server
  src/proxy/server.ts
Labels: scope: proxy

fix: show full URL only when using dev server
  src/proxy/server.ts
Labels: scope: proxy

fix: check if proxy port is used before start
  src/cli/commands/start.ts
Labels: none

fix: move static app middleware to proxy
  package-lock.json
  package.json
  readme.md
  src/auth/index.ts
  src/auth/routes/auth_login_provider.ts
  src/auth/routes/auth_logout.ts
  src/auth/routes/auth_me.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/builder.ts
  src/core/utils.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: auth, scope: proxy

fix: close connection after HTTP redirection
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
Labels: none

fix: move auth middleware to proxy
  readme.md
  src/auth/index.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: auth, scope: proxy

fix: remove console.log calls
  src/proxy/routes-engine/rules/customRoutes.ts
Labels: none

fix: use rimraf to delete dist folder during build
  package-lock.json
  package.json
Labels: none

fix: improve rewrite/redirect rule logic
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
Labels: none

fix: improve rewrite/redirect rule logic
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
Labels: none

fix: add authenticated role when user is logged in
  src/auth/routes/auth_me.ts
Labels: none

fix: handle special case /* in routes.json
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

fix: handle special case /* in routes.json
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

fix: simple refactoring
  src/auth/index.ts
  src/proxy/server.ts
Labels: scope: auth, scope: proxy

fix: add authenticated role by default in auth UI
  src/public/auth.html
Labels: none

fix: simple refactoring
  src/auth/index.ts
  src/proxy/server.ts
Labels: scope: auth, scope: proxy

fix: add authenticated role by default in auth UI
  src/public/auth.html
Labels: none

fix: add authenticated role when user is logged in
  src/auth/routes/auth_me.ts
Labels: none

fix: disable concurrently restartTries
  src/cli/commands/start.ts
Labels: none
