Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

Deploy website - based on 5f440e3068be7d53e052fae17e58dcc5c8b108e5
  404.html
  assets/files/package-193eb466b6f89b08011f0504f78cd8ec.json
  assets/js/621c628d.25cc9638.js
  assets/js/621c628d.b9751388.js
  assets/js/main.c605bb22.js
  assets/js/main.e2deb147.js
  assets/js/main.e2deb147.js.LICENSE.txt
  assets/js/runtime~main.2fc6fd3d.js
  assets/js/runtime~main.c2626d1b.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Implement twitter custom auth, working
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: scope: core, scope: auth

Fix get user error
  src/msha/auth/routes/auth-login-provider-callback.ts
Labels: none

Update github upload artificat action since v2 is deprecated
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
Labels: none

Deploy website - based on 6745391a3045458c91fe7e6cba3044e960a1ea9a
  404.html
  assets/js/main.72d490f0.js
  assets/js/main.72d490f0.js.LICENSE.txt
  assets/js/main.e2deb147.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Fix undefined subscriptions in azureprofile.json
  src/cli/commands/login/login.ts
  src/swa.d.ts
Labels: none

Add initial telemetry code. Hooked up test with start command.
  package-lock.json
  package.json
  src/cli/commands/start/start.ts
  src/cli/commands/telemetry/register.ts
  src/cli/commands/telemetry/telemetry.spec.ts
  src/cli/commands/telemetry/telemetry.ts
  src/cli/index.ts
  src/core/constants.ts
  src/core/telemetry/baseTelemetryReporter.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/telemetryReporterTypes.d.ts
  src/core/telemetry/utils.ts
  src/core/utils/file.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

fix msha: regex for custom authentication providers
  src/msha/auth/index.ts
Labels: scope: auth

fix msha: regex for custom authentication providers
  src/msha/auth/index.ts
Labels: scope: auth

Deploy website - based on c74de886b65a129d59c66d193ccb9dbd4b77d58a
  404.html
  assets/js/main.72d490f0.js
  assets/js/main.7370e095.js
  assets/js/main.7370e095.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Fix 'Error fetching Function Core Tools releases: Cannot find download package for Windows' (#899)
  src/core/func-core-tools.ts
Labels: scope: core

Revert "Merge pull request #895 from jonnekleijer/fix/844-identity-provider-regex"
  src/msha/auth/index.ts
Labels: scope: auth

Revert "Fix undefined subscriptions in azureprofile.json"
  src/cli/commands/login/login.ts
  src/swa.d.ts
Labels: none

Revert "Merge pull request #889 from Timothyw0/main"
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: scope: core, scope: auth

Revert "Merge pull request #880 from Timothyw0/main"
  package-lock.json
  package.json
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Revert "Merge pull request #883 from codingoutloud/main"
  docs/www/docs/cli/swa.md
Labels: none

Revert "Merge pull request #878 from Timothyw0/main"
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Update SWA client metadata url to new aka.ms link
  src/core/constants.ts
Labels: scope: core

2.0.2
  package-lock.json
  package.json
Labels: none

Deploy website - based on 4ccea55059aab13f49521995e073b5f28030b3f0
  404.html
  assets/files/package-d788b41002ed2bf172755cfe96f77f32.json
  assets/js/621c628d.6a1b5b1a.js
  assets/js/621c628d.b9751388.js
  assets/js/a7cb349a.9fc27ee0.js
  assets/js/a7cb349a.d43565c9.js
  assets/js/main.7370e095.js
  assets/js/main.9b585c3c.js
  assets/js/main.9b585c3c.js.LICENSE.txt
  assets/js/runtime~main.2fc6fd3d.js
  assets/js/runtime~main.b1b3f281.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update macos image in test workflows
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
Labels: none

Deploy website - based on 99fab3a9be38714cecd5fd779b149504520ad2ff
  404.html
  assets/js/main.2e7632bf.js
  assets/js/main.2e7632bf.js.LICENSE.txt
  assets/js/main.9b585c3c.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Fix package upload artifact error
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
Labels: none

Deploy website - based on 822ebb90eb2dfcd71f1899a1c286784f38e93a9b
  404.html
  assets/js/main.27fc80cc.js
  assets/js/main.27fc80cc.js.LICENSE.txt
  assets/js/main.2e7632bf.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update azuresdkdrop.yml
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on fe049f3cceb6d81fe9c872cbb2b76ba413ce9e88
  404.html
  assets/js/main.27fc80cc.js
  assets/js/main.c8f8dbd0.js
  assets/js/main.c8f8dbd0.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Reapply "Merge pull request #878 from Timothyw0/main"
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Reapply "Merge pull request #883 from codingoutloud/main"
  docs/www/docs/cli/swa.md
Labels: none

Reapply "Merge pull request #880 from Timothyw0/main"
  package-lock.json
  package.json
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
  src/swa.d.ts
Labels: scope: core, scope: auth

Reapply "Merge pull request #889 from Timothyw0/main"
  src/core/constants.ts
  src/msha/auth/index.ts
  src/msha/auth/routes/auth-login-provider-callback.ts
  src/msha/auth/routes/auth-login-provider-custom.ts
Labels: scope: core, scope: auth

Reapply "Fix undefined subscriptions in azureprofile.json"
  src/cli/commands/login/login.ts
  src/swa.d.ts
Labels: none

Reapply "Merge pull request #895 from jonnekleijer/fix/844-identity-provider-regex"
  src/msha/auth/index.ts
Labels: scope: auth

Enable dotnet9 api runtime
  schema/staticwebapp.config.json
Labels: none

working telemetry
  package-lock.json
  src/cli/commands/build/build.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/init/init.ts
  src/cli/commands/login/login.ts
  src/cli/commands/start/start.ts
  src/core/constants.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/utils.ts
Labels: scope: core

Deploy website - based on 172715aead1bfccca9e45e305b60b2914301e32d
  404.html
  assets/files/package-1b9be90287c52895bfba1b6c75c8ab1e.json
  assets/js/621c628d.6a1b5b1a.js
  assets/js/621c628d.efae9952.js
  assets/js/a7cb349a.9fc27ee0.js
  assets/js/a7cb349a.d43565c9.js
  assets/js/main.b017a3a1.js
  assets/js/main.b017a3a1.js.LICENSE.txt
  assets/js/main.c8f8dbd0.js
  assets/js/runtime~main.2f863231.js
  assets/js/runtime~main.b1b3f281.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on c24e67de990820064c17631fc4ece36d5c81fea7
  404.html
  assets/js/main.b017a3a1.js
  assets/js/main.db250bde.js
  assets/js/main.db250bde.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 08ac5a115bd4b6b9f59cdec1c69ebfac4d612d55
  404.html
  assets/js/main.5d153091.js
  assets/js/main.5d153091.js.LICENSE.txt
  assets/js/main.db250bde.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

add subscriptionId, swaCliVersion to telemetry reporting. add encrypted aiKey
  src/config.ts
  src/core/constants.ts
  src/core/telemetry/utils.ts
Labels: scope: core

fix unit tests
  .github/workflows/detection-e2e-tests.yml
  src/core/func-core-tools.spec.ts
Labels: scope: core

docs: remove admonition
  docs/www/docs/use/1-install.md
Labels: none
