Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

nit changes
  src/core/frameworks/detect.ts
  src/core/frameworks/frameworks.ts
Labels: none

feat(start): set host header in proxied requests to match remote API hosts
  src/msha/handlers/function.handler.ts
Labels: none

docs: add guidance on connecting to a remote API host
  docs/www/README.md
  docs/www/docs/cli/swa-start.md
Labels: none

Deploy website - based on 1fec77e22b2f2b470650ec1214b858a58d9679f6
  404.html
  assets/js/main.52d22f27.js
  assets/js/main.52d22f27.js.LICENSE.txt
  assets/js/main.8bbdc639.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix(api): bumping the node support to 18 for v4 functions (#564)
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
Labels: scope: core

fix(core): match * glob in routes (#574)
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/msha/routes-engine/route-processor.ts
Labels: scope: rules engine

Deploy website - based on d24df7a2493fb950beeb8d9015952f320d9de460
  404.html
  assets/js/main.52d22f27.js
  assets/js/main.f573fe1f.js
  assets/js/main.f573fe1f.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 6004141dbd163de1e33cf629908e65947e9722d5
  404.html
  assets/js/main.dbd29c0d.js
  assets/js/main.dbd29c0d.js.LICENSE.txt
  assets/js/main.f573fe1f.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat: add select option for apiLanguage flags
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/core/frameworks/detect.ts
  src/core/frameworks/frameworks.ts
Labels: none

more changes
  src/core/frameworks/frameworks.ts
Labels: none

docs: update troubleshooting with explainer #576
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

fix tests
  src/cli/commands/init.spec.ts
  src/core/frameworks/detect.spec.ts
Labels: none

Change flag to av
  src/cli/commands/deploy.ts
Labels: none

docs: add valid azure regions for SWA
  docs/www/docs/cli/env-vars.md
Labels: none

docs: update azure regions
  docs/www/docs/cli/env-vars.md
Labels: none

docs: add valid azure regions for SWA (#582)
  docs/www/docs/cli/env-vars.md
Labels: none

docs: update troubleshooting with explainer #576 (#581)
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Deploy website - based on 70c126efe3dd518255ac0f495b85023e11a4824d
  404.html
  assets/js/a060ffa6.41116641.js
  assets/js/a060ffa6.ca30bf6a.js
  assets/js/main.44defbb0.js
  assets/js/main.44defbb0.js.LICENSE.txt
  assets/js/main.dbd29c0d.js
  assets/js/runtime~main.2c33f80c.js
  assets/js/runtime~main.76a52861.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 4af9624b638458ca3afc258d37d9ead80f95eacb
  404.html
  assets/js/6d64ee17.22c665fa.js
  assets/js/6d64ee17.fe4f049a.js
  assets/js/main.44defbb0.js
  assets/js/main.60edc3f2.js
  assets/js/main.60edc3f2.js.LICENSE.txt
  assets/js/runtime~main.2c33f80c.js
  assets/js/runtime~main.3594e751.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep-release 1.0.3
  package-lock.json
  package.json
Labels: none

chore: prep-release 1.0.3 (#583)
  package-lock.json
  package.json
Labels: none

Deploy website - based on 4b0114b8da8ee9d9361fda87f5ab6f88611251ad
  404.html
  assets/files/package-21d5e05747135154d2b94f4bfb03c605.json
  assets/js/621c628d.27a8a2ce.js
  assets/js/621c628d.fc5a2e3d.js
  assets/js/main.3a003f22.js
  assets/js/main.3a003f22.js.LICENSE.txt
  assets/js/main.60edc3f2.js
  assets/js/runtime~main.3594e751.js
  assets/js/runtime~main.ed87cf40.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Remove Node 12 from the testing matrix
  .github/workflows/azuresdkdrop.yml
Labels: none

ci: Remove Node 12 from the testing matrix (#584)
  .github/workflows/azuresdkdrop.yml
Labels: none

Deploy website - based on b4fbf3aed9ad60b6d7d779447d69aff32d456d65
  404.html
  assets/js/main.3a003f22.js
  assets/js/main.5b530f21.js
  assets/js/main.5b530f21.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 5ab32a784dfad9a9aae762c27b38f332c82097ca
  404.html
  assets/js/3c62dc7d.9ab1d7e0.js
  assets/js/3c62dc7d.f95e8d71.js
  assets/js/main.5b530f21.js
  assets/js/main.add047a1.js
  assets/js/main.add047a1.js.LICENSE.txt
  assets/js/runtime~main.1f5722c2.js
  assets/js/runtime~main.ed87cf40.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update package.json
  package.json
Labels: none

chore: bump into 1.0.4-alpha after release (#586)
  package.json
Labels: none

Deploy website - based on 3bdc5f173c2ee973b510676b5f61d1cef2578f56
  404.html
  assets/files/package-1ea18fc278a2d34fd5caa0af244578e4.json
  assets/js/621c628d.83afb6bf.js
  assets/js/621c628d.fc5a2e3d.js
  assets/js/main.add047a1.js
  assets/js/main.dcfe1b75.js
  assets/js/main.dcfe1b75.js.LICENSE.txt
  assets/js/runtime~main.17cfae26.js
  assets/js/runtime~main.1f5722c2.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: upgrade dependency version to fix security vulnerability
  package-lock.json
Labels: none

chore: upgrade integrity of package
  package-lock.json
Labels: none

chore: upgrade dependency version to fix security vulnerability (#597)
  package-lock.json
Labels: none

Deploy website - based on 2cd0e980ea4bf604df10fd5d63149b20b292e916
  404.html
  assets/js/main.75a6bad2.js
  assets/js/main.75a6bad2.js.LICENSE.txt
  assets/js/main.dcfe1b75.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat: Initial changes to download dab binary
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/dataApiBuilder/temp-main.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/core/downloadBinary.ts
  src/core/func-core-tools.ts
  src/swa.d.ts
Labels: scope: core

feat: add "data-api-location" flag support for 'swa start'
  package.json
  src/cli/commands/start.ts
  src/config.ts
  src/core/dataApiBuilder/dab-main.ts
  src/core/dataApiBuilder/dab.ts
  src/swa.d.ts
Labels: none

feat: proxy requests made to "/data-api" to dab-cli
  src/cli/commands/start.ts
  src/config.ts
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/core/download-binary-helper.ts
  src/msha/handlers/dab.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/swa.d.ts
Labels: scope: core

Fix typo
  CONTRIBUTING.md
Labels: none

Update title
  docs/www/docs/cli/swa-config.md
Labels: none

create SWA in user-provided Resource Group
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-login.md
  src/cli/commands/login.ts
Labels: none

fixed short-form of --clear-credentials flag
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-login.md
  src/cli/commands/login.ts
  src/core/utils/options.spec.ts
Labels: none
