Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

fix: update jest snapshots
  src/cli/commands/init.spec.ts
Labels: none

ci: add missing package lock deps
  package-lock.json
Labels: none

refactor: keep loaded config info and add helpers for updating
  src/core/utils/cli-config.ts
  src/swa.d.ts
Labels: none

refactor: keep loaded config info and add helpers for updating
  src/core/utils/cli-config.ts
  src/swa.d.ts
Labels: none

fix: swaCliConfigLocation should not be in DEFAULT_CONFIG
  src/config.ts
Labels: none

chore: improve deploy process
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/index.ts
  src/core/account.ts
  src/core/prompts.ts
  src/core/utils/logger.ts
  src/core/utils/net.ts
Labels: scope: core, scope: cli

fix: detect if project has an existing provider
  src/core/account.ts
Labels: scope: core

feat(deploy): support project creation if none found
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/index.ts
  src/core/account.ts
  src/core/env.ts
  src/core/prompts.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

feat: improve deploy UX
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/prompts.ts
Labels: scope: core

chore: store project details in config file
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/config.ts
  src/core/account.ts
  src/core/utils/cli-config.ts
Labels: scope: core

feat(deploy): support printing deployment token
  src/cli/commands/deploy.ts
  src/swa.d.ts
Labels: none

docs: add new env vars to ENV.md
  docs/ENV.md
Labels: none

chore: store project details in config file
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/config.ts
  src/core/account.ts
  src/core/utils/cli-config.ts
Labels: scope: core

feat(deploy): support project creation if none found
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/index.ts
  src/core/account.ts
  src/core/env.ts
  src/core/prompts.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

docs: add new env vars to ENV.md
  docs/ENV.md
Labels: none

chore: improve deploy process
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/index.ts
  src/core/account.ts
  src/core/prompts.ts
  src/core/utils/logger.ts
  src/core/utils/net.ts
Labels: scope: core, scope: cli

feat: improve deploy UX
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/prompts.ts
Labels: scope: core

feat(deploy): support printing deployment token
  src/cli/commands/deploy.ts
  src/swa.d.ts
Labels: none

fix: detect if project has an existing provider
  src/core/account.ts
Labels: scope: core

fix: update deploy manifest signature
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
Labels: scope: core

fix: update deploy manifest signature
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
Labels: scope: core

fix: use buildId when fetching deploy binary
  src/cli/commands/deploy.spec.ts
  src/core/constants.ts
  src/core/deploy-client.ts
Labels: scope: core

feat: add support for deployment environments
  docs/ENV.md
  readme.md
  src/cli/commands/deploy.ts
  src/config.ts
  src/swa.d.ts
Labels: none

feat: add support for deployment environments
  docs/ENV.md
  readme.md
  src/cli/commands/deploy.ts
  src/config.ts
  src/swa.d.ts
Labels: none

fix: use buildId when fetching deploy binary
  src/cli/commands/deploy.spec.ts
  src/core/constants.ts
  src/core/deploy-client.ts
Labels: scope: core

refactor: clean up cli context
  readme.md
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

chore: add more test to cli-config logic
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

fix(start): add isHttpUrl check for start context
  src/cli/commands/start.ts
Labels: none

chore: wip
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

refactor: clean up the CLI context arg
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/.gitignore
  cypress/fixtures/static/swa-cli.config.json
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/core/git.spec.ts
  src/core/git.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/net.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
  src/core/utils/workflow-config.ts
  src/msha/handlers/function.handler.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: msha, status: need internal approval

fix: clean outputLocation detection logic
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

chore: wip
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

refactor: clean up cli context
  readme.md
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.ts
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

fix: clean outputLocation detection logic
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

refactor: clean up the CLI context arg
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/.gitignore
  cypress/fixtures/static/swa-cli.config.json
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/commands/start.ts
  src/core/git.spec.ts
  src/core/git.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/net.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
  src/core/utils/workflow-config.ts
  src/msha/handlers/function.handler.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: msha, status: need internal approval

chore: add more test to cli-config logic
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
Labels: none

fix(start): add isHttpUrl check for start context
  src/cli/commands/start.ts
Labels: none

feat: validate staticwebapp.config.json
  package-lock.json
  package.json
  schema/staticwebapp.config.schema.draft-07.json
  schema/staticwebapp.config.schema.json
  scripts/copy-assets.js
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  src/msha/middlewares/request.middleware.ts
Labels: none

chore: wip
  src/core/utils/user-config.ts
Labels: none

feat: improve staticwebapp.config.json validation
  package.json
  src/cli/commands/deploy.ts
  src/core/utils/user-config.ts
  src/msha/middlewares/request.middleware.ts
  src/swa.d.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
