Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

fix: to fix the inability to create a SWA in user-mentioned resource group, changed all the resourceGroupName references to resourceGroup in the code to match with --resource-group flag.
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-login.md
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/config.ts
  src/core/account.ts
  src/core/utils/options.spec.ts
  src/swa.d.ts
Labels: scope: core

Deploy website - based on 08ac26c9063986435dc388c9dcd2700879131bd9
  404.html
  assets/js/1cdc1c3c.31afdf7a.js
  assets/js/1cdc1c3c.a0a1a232.js
  assets/js/3f8550e3.418b1754.js
  assets/js/3f8550e3.f1559211.js
  assets/js/b05f1bc9.da1f3fab.js
  assets/js/b05f1bc9.ea85dbbe.js
  assets/js/main.3e034bd3.js
  assets/js/main.3e034bd3.js.LICENSE.txt
  assets/js/main.75a6bad2.js
  assets/js/runtime~main.17cfae26.js
  assets/js/runtime~main.7b070484.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 97e9461c95c10d52902d1f18ee240a180a4dbbf7
  404.html
  assets/js/1cdc1c3c.49c0c7ed.js
  assets/js/1cdc1c3c.a0a1a232.js
  assets/js/3f8550e3.40bfaa53.js
  assets/js/3f8550e3.f1559211.js
  assets/js/main.3e034bd3.js
  assets/js/main.cd2b5261.js
  assets/js/main.cd2b5261.js.LICENSE.txt
  assets/js/runtime~main.7b070484.js
  assets/js/runtime~main.d28eea47.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Update title (#606)
  docs/www/docs/cli/swa-config.md
Labels: none

Deploy website - based on 9c43aa8a14a971090e3d257dc093cc6acc192574
  404.html
  assets/js/517ece4b.526e681d.js
  assets/js/517ece4b.bc9af87d.js
  assets/js/935f2afb.88f2e1f8.js
  assets/js/935f2afb.8d1c7604.js
  assets/js/a060ffa6.41116641.js
  assets/js/a060ffa6.4a2f7f67.js
  assets/js/b05f1bc9.4b76e9a6.js
  assets/js/b05f1bc9.ea85dbbe.js
  assets/js/main.3907edcb.js
  assets/js/main.3907edcb.js.LICENSE.txt
  assets/js/main.cd2b5261.js
  assets/js/runtime~main.0ed6a5f2.js
  assets/js/runtime~main.d28eea47.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Fix typo (#605)
  CONTRIBUTING.md
Labels: none

Deploy website - based on 27ec687e49767e6b7fbfbe803f2787fffe97f5fd
  404.html
  assets/js/main.3907edcb.js
  assets/js/main.ea648db9.js
  assets/js/main.ea648db9.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

more changes
  .vscode/launch.json
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/download-binary-helper.ts
Labels: scope: core

fix: handle new provider name when deploying
  src/core/account.ts
Labels: scope: core

fix: handle new provider name when deploying (#617)
  src/core/account.ts
Labels: scope: core

Deploy website - based on eee126382aaad7694200dc25cf478010d71c1da2
  404.html
  assets/js/main.b9066e41.js
  assets/js/main.b9066e41.js.LICENSE.txt
  assets/js/main.ea648db9.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Added firewall section
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

updated the message
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

docs: Add firewall section to troubleshoot (#618)
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Deploy website - based on 7ecbae27ede42d5650884bd1d0894b61bf606ca9
  404.html
  assets/js/6d64ee17.22c665fa.js
  assets/js/6d64ee17.ac9a2cf4.js
  assets/js/main.2d8e2f8b.js
  assets/js/main.2d8e2f8b.js.LICENSE.txt
  assets/js/main.b9066e41.js
  assets/js/runtime~main.0ed6a5f2.js
  assets/js/runtime~main.b438dd14.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix: unzipping of DAB-package and routing issue
  package.json
  src/cli/commands/start.ts
  src/core/dataApiBuilder/dab-main.ts
  src/core/dataApiBuilder/dab.ts
  src/msha/handlers/dab.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
Labels: none

fix: --api-devserver-url not working if --api-location not set (#523, #579)
  src/cli/commands/start.ts
Labels: none

docs: fix documentation regarding --api-devserver-url usage (#579)
  docs/www/docs/cli/swa-start.md
  docs/www/docs/use/3-api-server.md
Labels: none

fix(start): FuncBinary path with space in user home directories
  src/cli/commands/start.ts
Labels: none

fix: --api-devserver-url not working if --api-location not set (#523, #579) (#620)
  docs/www/docs/cli/swa-start.md
  docs/www/docs/use/3-api-server.md
  src/cli/commands/start.ts
Labels: none

Deploy website - based on 02fdb90e739eaf357114a7b0b489721a6f3d01f1
  404.html
  assets/js/40a66245.3f1d1265.js
  assets/js/40a66245.9fbfaab3.js
  assets/js/64516836.3708a4c1.js
  assets/js/64516836.de0f4a54.js
  assets/js/main.2d8e2f8b.js
  assets/js/main.f290fd09.js
  assets/js/main.f290fd09.js.LICENSE.txt
  assets/js/runtime~main.795c5f12.js
  assets/js/runtime~main.b438dd14.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

refactor: moved functions versions to core
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/core/frameworks/detect.ts
  src/core/functions-versions.ts
Labels: scope: core

Merge main to current branch
  .all-contributorsrc
  .github/workflows/azuresdkdrop.yml
  CONTRIBUTING.md
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/use/2-emulator.md
  package-lock.json
  package.json
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/config.ts
  src/core/account.ts
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/core/utils/options.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/response-overrides.spec.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/msha/server.ts
  src/public/auth.html
  src/swa.d.ts
Labels: scope: core, scope: rules engine, scope: msha, status: need internal approval

Squashed commit of the following:
  docs/www/docs/cli/swa-start.md
  docs/www/docs/use/3-api-server.md
  src/cli/commands/start.ts
Labels: none

chore: resolve comments
  src/core/frameworks/frameworks.ts
Labels: none

nit: revert const changes
  src/core/frameworks/frameworks.ts
Labels: none

chore: merge main to current
  src/msha/routes-engine/rules/navigation-fallback.ts
Labels: none

chore: resolve merge conflicts
  src/msha/routes-engine/rules/navigation-fallback.ts
Labels: none

fix(start): FuncBinary path with space in user home directories (#621)
  src/cli/commands/start.ts
Labels: none

Deploy website - based on affe1a5c193951fccf1d8ea3bf8162da0a61e2c3
  404.html
  assets/js/main.51470b3d.js
  assets/js/main.51470b3d.js.LICENSE.txt
  assets/js/main.f290fd09.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep release 1.0.4
  package-lock.json
  package.json
Labels: none

chore: prep release 1.0.4 (#623)
  package-lock.json
  package.json
Labels: none

Deploy website - based on f48726d520a7f2392fedf55892df209356f4f759
  404.html
  assets/files/package-330d7a245c320871126ec8966d981892.json
  assets/js/621c628d.83afb6bf.js
  assets/js/621c628d.eed63345.js
  assets/js/main.51470b3d.js
  assets/js/main.c5ac5269.js
  assets/js/main.c5ac5269.js.LICENSE.txt
  assets/js/runtime~main.0b183d24.js
  assets/js/runtime~main.795c5f12.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: Bump into 1.0.5-alpha after release
  package.json
Labels: none

chore: Bump into 1.0.5-alpha after release (#624)
  package.json
Labels: none

Deploy website - based on 57b994dba9e52bebdac2eefc35d0985cb7baf00b
  404.html
  assets/files/package-b33a3db95b32f487c73dfc715b5b4e5c.json
  assets/js/621c628d.478d5716.js
  assets/js/621c628d.eed63345.js
  assets/js/main.5d92a375.js
  assets/js/main.5d92a375.js.LICENSE.txt
  assets/js/main.c5ac5269.js
  assets/js/runtime~main.0b183d24.js
  assets/js/runtime~main.3e1cf569.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Merge main to current branch and more changes
  .all-contributorsrc
  .github/workflows/azuresdkdrop.yml
  CONTRIBUTING.md
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa-start.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/use/2-emulator.md
  docs/www/docs/use/3-api-server.md
  package-lock.json
  package.json
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/config.ts
  src/core/account.ts
  src/core/dataApiBuilder/dab-main.ts
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/core/utils/options.spec.ts
  src/msha/handlers/dab.handler.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: rules engine, scope: msha, status: need internal approval

nit: nit comments
  src/core/dataApiBuilder/dab.ts
  src/core/download-binary-helper.ts
  src/msha/handlers/dab.handler.ts
Labels: scope: core

feat: add support for "staticwebapp.db.config.json" and nit changes
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/constants.ts
  src/core/dataApiBuilder/dab-main.ts
  src/core/dataApiBuilder/dab.ts
Labels: scope: core

fix: providing separate agents for HTTP and HTTPS proxy servers
  src/cli/commands/start.ts
  src/msha/server.ts
Labels: scope: msha, status: need internal approval
