Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

fix: new swa deployment
  src/cli/commands/deploy.ts
  src/core/account.ts
Labels: scope: core

fix: default paths
  src/cli/commands/init.spec.ts
  src/cli/index.ts
  src/config.ts
Labels: scope: cli

refactor: improve message
  src/cli/commands/build.ts
Labels: none

style: add spacing
  src/cli/commands/deploy.ts
Labels: none

feat: rename --devserver-timeout to --server-timeout and use seconds instead of ms
  cypress/fixtures/blazor-starter/swa-cli.config.json
  docs/ENV.md
  docs/www/docs/cli/6-env-vars.md
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/config.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.spec.ts
  src/core/utils/cli.ts
  src/core/utils/net.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: msha, status: need internal approval

feat: Add apiRuntime flags
  src/cli/commands/deploy.ts
  src/swa.d.ts
Labels: none

fix: new changes
  src/cli/commands/deploy.ts
  src/swa.d.ts
Labels: none

fix: make apiLocation independant of appLocation
  src/cli/commands/build.spec.ts
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/start.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
Labels: none

fix: uncaught promise in swa command
  src/cli/index.ts
Labels: scope: cli

fix: swa config file path not properly handled with start/deploy
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: msha, status: need internal approval

fix: properly log in into specified tenant
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: scope: core

refactor: exit when timeout
  src/core/utils/net.ts
Labels: none

feat: add --clear-credentials
  schema/swa-cli.config.schema.json
  src/cli/commands/login.ts
  src/config.ts
  src/swa.d.ts
Labels: none

refactor: typo
  src/cli/index.ts
Labels: scope: cli

fix(start): resolve swa config location path correctly
  src/cli/commands/start.ts
Labels: none

refactor: cleanup
  src/swa.d.ts
Labels: none

refactor: remove constants from config
  src/config.ts
  src/core/constants.ts
  src/core/utils/logger.ts
  src/core/utils/user-config.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/response-overrides.spec.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/swa.d.ts
Labels: scope: core, scope: rules engine

fix: properly log in into specified tenant
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: scope: core

refactor: remove constants from config
  src/config.ts
  src/core/constants.ts
  src/core/utils/logger.ts
  src/core/utils/user-config.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/response-overrides.spec.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/swa.d.ts
Labels: scope: core, scope: rules engine

refactor: exit when timeout
  src/core/utils/net.ts
Labels: none

fix: make apiLocation independant of appLocation
  src/cli/commands/build.spec.ts
  src/cli/commands/build.ts
  src/cli/commands/deploy.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/start.ts
  src/core/frameworks/detect.spec.ts
  src/core/frameworks/detect.ts
Labels: none

refactor: improve message
  src/cli/commands/build.ts
Labels: none

refactor: cleanup
  src/swa.d.ts
Labels: none

fix: swa config file path not properly handled with start/deploy
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: msha, status: need internal approval

feat: add --clear-credentials
  schema/swa-cli.config.schema.json
  src/cli/commands/login.ts
  src/config.ts
  src/swa.d.ts
Labels: none

feat: rename --devserver-timeout to --server-timeout and use seconds instead of ms
  cypress/fixtures/blazor-starter/swa-cli.config.json
  docs/ENV.md
  docs/www/docs/cli/6-env-vars.md
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/config.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.spec.ts
  src/core/utils/cli.ts
  src/core/utils/net.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: msha, status: need internal approval

fix: uncaught promise in swa command
  src/cli/index.ts
Labels: scope: cli

refactor: typo
  src/cli/index.ts
Labels: scope: cli

fix(start): resolve swa config location path correctly
  src/cli/commands/start.ts
Labels: none

style: add spacing
  src/cli/commands/deploy.ts
Labels: none

ci: add docs deployment
  .github/workflows/deploy-docs.yml
Labels: none

docs: fix baseurl
  docs/www/docusaurus.config.js
Labels: none

refactor: add spacing to make . path more visible
  src/cli/commands/build.ts
Labels: none

ci: enable ci on ga branch
  .github/workflows/codeql-analysis.yml
  .github/workflows/detection-e2e-tests.yml
  .github/workflows/node.yml
Labels: none

fix: fs/promises loading with Node 12
  src/cli/commands/login.ts
  src/core/ssl.ts
  src/core/utils/user-config.ts
Labels: scope: core

ci: fix build
  .github/workflows/node.yml
  package-lock.json
  package.json
  src/core/git.ts
  src/core/ssl.ts
Labels: scope: core

ci: fix workflow
  .github/workflows/node.yml
Labels: none

ci: try to fix
  .github/workflows/node.yml
Labels: none

ci: revert env matrix
  .github/workflows/node.yml
Labels: none

test: fix tests on Node 14
  src/msha/routes-engine/rules/routes.spec.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
