Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

docs: update contributions guidelines
  CONTRIBUTING.md
  docs/DEVELOPER.md
Labels: none

chore: enforce formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/node.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
  cypress/fixtures/static/api/echo/index.js
  cypress/fixtures/static/api/headers/index.js
  cypress/fixtures/static/api/info/index.js
  cypress/fixtures/static/api/status/index.js
  cypress/integration/authorization.js
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/core/utils/cli-config.ts
  src/core/utils/strings.spec.ts
Labels: none

fix: add missing imports
  src/core/utils/options.ts
Labels: none

refactor: unify SWA CLI variable environments (#433)
  docs/environment_variables.md
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/core/deploy-client.ts
  src/core/env.spec.ts
  src/core/env.ts
  src/core/utils/logger.ts
  src/core/utils/net.ts
  src/core/utils/options.ts
  src/msha/handlers/function.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

chore: custom azure login
  package-lock.json
  package.json
  scripts/copy-assets.js
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/login/auth-provider-base.ts
  src/core/login/cache-plugin.ts
  src/core/login/msal-auth-provider.ts
  src/core/login/msal-scopes.ts
  src/core/login/public-client-credential.ts
  src/core/login/server.ts
  src/core/utils/net.ts
  src/public/codeFlowResult/index.html
  src/public/codeFlowResult/main.css
Labels: scope: core

fix: remove unused templates
  scripts/copy-assets.js
  src/public/codeFlowResult/index.html
  src/public/codeFlowResult/main.css
Labels: none

fix: X11 should be availble if accessing keychain
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/crypto.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/utils/net.ts
Labels: none

feat: improve encryption logic
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/swa-cli-persistence-plugin/impl/azure-environment.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/index.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/utils/net.ts
Labels: scope: core

chore: rename keytar to keychain
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: none

feat: add encryption when persisting tokens (wip)
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
Labels: none

feat: add custom persistence cache options
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/login/auth-provider-base.ts
  src/core/login/cache-plugin.ts
  src/core/login/msal-auth-provider.ts
  src/core/login/msal-scopes.ts
  src/core/login/public-client-credential.ts
  src/core/login/server.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/index.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: scope: core

fix: remove unused templates
  scripts/copy-assets.js
  src/public/codeFlowResult/index.html
  src/public/codeFlowResult/main.css
Labels: none

chore: custom azure login
  package-lock.json
  package.json
  scripts/copy-assets.js
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/login/auth-provider-base.ts
  src/core/login/cache-plugin.ts
  src/core/login/msal-auth-provider.ts
  src/core/login/msal-scopes.ts
  src/core/login/public-client-credential.ts
  src/core/login/server.ts
  src/core/utils/net.ts
  src/public/codeFlowResult/index.html
  src/public/codeFlowResult/main.css
Labels: scope: core

fix: X11 should be availble if accessing keychain
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/crypto.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/utils/net.ts
Labels: none

feat: improve encryption logic
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/swa-cli-persistence-plugin/impl/azure-environment.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/index.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/utils/net.ts
Labels: scope: core

feat: add custom persistence cache options
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/login/auth-provider-base.ts
  src/core/login/cache-plugin.ts
  src/core/login/msal-auth-provider.ts
  src/core/login/msal-scopes.ts
  src/core/login/public-client-credential.ts
  src/core/login/server.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/index.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: scope: core

chore: rename keytar to keychain
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: none

feat: add encryption when persisting tokens (wip)
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
Labels: none

chore(cli): update json schema
  schema/swa-cli.config.schema.json
  src/config.ts
Labels: none

chore: more updates and fixes to schema
  schema/swa-cli.config.schema.json
Labels: none

refactor: share login options
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/index.ts
Labels: scope: cli

refactor: rework CLI config types
  src/swa.d.ts
Labels: none

refactor: context
  src/swa.d.ts
Labels: none

fix: add missing githubActionWorkflowLocation type
  src/swa.d.ts
Labels: none

fix: add missing githubActionWorkflowLocation type
  src/swa.d.ts
Labels: none

refactor: rework CLI config types
  src/swa.d.ts
Labels: none

refactor: context
  src/swa.d.ts
Labels: none

chore: more updates and fixes to schema
  schema/swa-cli.config.schema.json
Labels: none

chore(cli): update json schema
  schema/swa-cli.config.schema.json
  src/config.ts
Labels: none

refactor: share login options
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/index.ts
Labels: scope: cli

feat: add fs utility helpers for reading and writing files
  src/cli/commands/deploy.spec.ts
  src/cli/commands/init.spec.ts
  src/cli/commands/init.ts
  src/cli/index.spec.ts
  src/core/constants.ts
  src/core/deploy-client.spec.ts
  src/core/env.spec.ts
  src/core/env.ts
  src/core/func-core-tools.spec.ts
  src/core/runtime-host.spec.ts
  src/core/runtimes.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/fs.ts
  src/core/utils/glob.spec.ts
  src/core/utils/logger.ts
  src/core/utils/options.spec.ts
  src/core/utils/user-config.spec.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/rules/headers.spec.ts
  src/msha/routes-engine/rules/response-overrides.spec.ts
Labels: scope: core, scope: cli, scope: rules engine

chore: custom azure login
  package-lock.json
  package.json
  scripts/copy-assets.js
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/login/auth-provider-base.ts
  src/core/login/cache-plugin.ts
  src/core/login/msal-auth-provider.ts
  src/core/login/msal-scopes.ts
  src/core/login/public-client-credential.ts
  src/core/login/server.ts
  src/core/utils/net.ts
  src/public/codeFlowResult/index.html
  src/public/codeFlowResult/main.css
Labels: scope: core

feat: add custom persistence cache options
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/login/auth-provider-base.ts
  src/core/login/cache-plugin.ts
  src/core/login/msal-auth-provider.ts
  src/core/login/msal-scopes.ts
  src/core/login/public-client-credential.ts
  src/core/login/server.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/index.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: scope: core

fix: remove unused templates
  scripts/copy-assets.js
  src/public/codeFlowResult/index.html
  src/public/codeFlowResult/main.css
Labels: none

feat: add encryption when persisting tokens (wip)
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
Labels: none

refactor: unify SWA CLI variable environments (#433)
  docs/environment_variables.md
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/core/deploy-client.ts
  src/core/env.spec.ts
  src/core/env.ts
  src/core/utils/logger.ts
  src/core/utils/net.ts
  src/core/utils/options.ts
  src/msha/handlers/function.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

chore: more updates and fixes to schema
  schema/swa-cli.config.schema.json
Labels: none

chore: rename keytar to keychain
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
Labels: none

fix: X11 should be availble if accessing keychain
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/crypto.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/utils/net.ts
Labels: none

chore(cli): update json schema
  schema/swa-cli.config.schema.json
  src/config.ts
Labels: none
