Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

feat: improve encryption logic
  package-lock.json
  package.json
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/swa-cli-persistence-plugin/impl/azure-environment.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/impl/encryption.ts
  src/core/swa-cli-persistence-plugin/impl/machine-identifier.ts
  src/core/swa-cli-persistence-plugin/impl/secret-storage.ts
  src/core/swa-cli-persistence-plugin/index.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/core/utils/net.ts
Labels: scope: core

refactor: context
  src/swa.d.ts
Labels: none

refactor: share login options
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/index.ts
Labels: scope: cli

refactor: rework CLI config types
  src/swa.d.ts
Labels: none

fix: check X11 config only on WSL
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
Labels: none

fix: add missing githubActionWorkflowLocation type
  src/swa.d.ts
Labels: none

docs: rename env vars files
  docs/ENV.md
Labels: none

chore: login doesn't need a context
  src/cli/commands/login.ts
Labels: none

chore(login): add persist=false example
  src/cli/commands/login.ts
Labels: none

chore: rename --persist to --use-keychain
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/config.ts
  src/swa.d.ts
Labels: none

chore: improve login exprience
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/core/account.ts
  src/core/prompts.ts
  src/core/utils/cli-config.ts
  src/core/utils/logger.ts
Labels: scope: core

fix: resolve config flags to absolute paths
  docs/ENV.md
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
Labels: none

chore: update tests
  src/cli/commands/init.spec.ts
  src/cli/commands/start.ts
  src/core/runtime-host.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.ts
  src/core/utils/workflow-config.spec.ts
Labels: scope: core

chore: add missing default values from env vars
  src/config.ts
  src/swa.d.ts
Labels: none

fix(start): use correct appLocation for user config
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

fix: set a random port if --port is already taken
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/prompts.ts
  src/core/utils/net.ts
  src/msha/server.ts
Labels: scope: core, scope: msha, status: need internal approval

feat: support for self-generating ssl certificates
  .prettierrc
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/ssl.ts
  src/msha/server.ts
Labels: scope: core, scope: msha, status: need internal approval

refactor: share login options
  src/cli/index.ts
Labels: scope: cli

refactor: rework CLI config types
  src/core/runtime-host.ts
  src/swa.d.ts
Labels: scope: core

test: fix imports for Node 12
  src/core/utils/cli-config.ts
Labels: none

feat(init): add proper config generation
  src/cli/commands/init.ts
Labels: none

fix(cli): config loading and relative paths
  src/config.ts
  src/core/utils/cli-config.ts
Labels: none

refactor: share login options
  src/cli/index.ts
Labels: scope: cli

test: fix imports for Node 12
  src/core/utils/cli-config.ts
Labels: none

fix(cli): config loading and relative paths
  src/config.ts
  src/core/utils/cli-config.ts
Labels: none

feat(init): add proper config generation
  src/cli/commands/init.ts
Labels: none

refactor: rework CLI config types
  src/core/runtime-host.ts
  src/swa.d.ts
Labels: scope: core

fix: minor fixes
  package-lock.json
  src/core/utils/net.ts
Labels: none

fix: minor fixes
  package-lock.json
  src/core/utils/net.ts
Labels: none

fix: set a random port if --port is already taken
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/prompts.ts
  src/core/utils/net.ts
  src/msha/server.ts
Labels: scope: core, scope: msha, status: need internal approval

fix: minor fixes
  src/cli/commands/start.ts
  src/core/ssl.ts
Labels: scope: core

feat: support for self-generating ssl certificates (#441)
  .prettierrc
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/ssl.ts
  src/msha/server.ts
Labels: scope: core, scope: msha, status: need internal approval

chore: improve login experience
  src/cli/commands/login.ts
  src/cli/index.ts
  src/config.ts
  src/core/account.ts
  src/core/constants.ts
  src/core/git.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

chore: store only project credentials in .env
  src/cli/commands/login.ts
  src/config.ts
  src/core/env.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/swa.d.ts
Labels: scope: core

chore: add missing deps
  src/cli/index.ts
Labels: scope: cli

chore: improve login experience
  src/cli/commands/login.ts
  src/cli/index.ts
  src/config.ts
  src/core/account.ts
  src/core/constants.ts
  src/core/git.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/core/swa-cli-persistence-plugin/persistence-cache-plugin.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

chore: add missing deps
  src/cli/index.ts
Labels: scope: cli

chore: store only project credentials in .env
  src/cli/commands/login.ts
  src/config.ts
  src/core/env.ts
  src/core/swa-cli-persistence-plugin/impl/credentials-store.ts
  src/swa.d.ts
Labels: scope: core

chore: fix typo
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

fix(start): kill CLI if subcommands crashed
  src/cli/commands/start.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
