Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

chore: npm audit fix
  package-lock.json
Labels: none

chore: update api ExtensionBundle version in e2e
  cypress/fixtures/api/host.json
Labels: none

ci: update node runtimes
  .github/CODEOWNERS
  .github/workflows/azuresdkdrop.yml
  .github/workflows/node.js.yml
Labels: none

chore: make tests run on windows
  src/core/func-core-tools.spec.ts
Labels: scope: core

ci: add more node runtimes
  .github/workflows/node.js.yml
Labels: none

ci: rename CI
  .github/workflows/node.js.yml
  readme.md
Labels: none

ci: add more node runtimes
  .github/workflows/node.js.yml
Labels: none

chore: make tests run on windows
  src/core/func-core-tools.spec.ts
Labels: scope: core

ci: update node runtimes
  .github/CODEOWNERS
  .github/workflows/azuresdkdrop.yml
  .github/workflows/node.js.yml
Labels: none

ci: rename CI
  .github/workflows/node.js.yml
  readme.md
Labels: none

feat: Remove Output location as flag
  readme.md
  src/cli/commands/start.ts
  src/cli/index.ts
Labels: scope: cli

chore: Small fix
  cypress/fixtures/static/staticwebapp.config.json
Labels: none

fix: --app-location and --output-location not serving content from specified directories
  src/cli/commands/start.ts
  src/core/constants.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: core

chore: Small changes
  cypress/fixtures/static/staticwebapp.config.json
Labels: none

feat: add --open option (closes #357)
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

chore: update lockfile
  package-lock.json
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

feat: add --open option (closes #357) (#358)
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: cli, scope: msha, status: need internal approval

chore: add html-preview-vscode to devcontainer
  .vscode/extensions.json
Labels: none

fix(auth): catch user claims invalid JSON in UI
  cypress/integration/authentication.js
  src/public/auth.html
Labels: none

chore: update cypress
  package-lock.json
  package.json
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

chore(e2e): silent e2e CLI logs
  cypress/fixtures/static/swa-cli.config.json
Labels: none

fix(cli): passe verbosity level via config file
  src/cli/index.ts
Labels: scope: cli

chore: remove cypress content from npm package
  .npmignore
Labels: none

ci: add cypress e2e tests
  .github/workflows/node.js.yml
Labels: none

ci: update e2e config
  .github/workflows/node.js.yml
  cypress/fixtures/api/local.settings.sample.json
Labels: none

ci: disable cypress config
  .github/workflows/node.yml
Labels: none

docs: add --open flag to readme
  readme.md
Labels: none

docs: add --open flag to readme (#399)
  readme.md
Labels: none

ci: tag artifact
  .github/workflows/node.yml
Labels: none

ci: clean artifact name
  .github/workflows/node.yml
Labels: none

chore: restructure e2e fixtures
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/api/echo/function.json
  cypress/fixtures/static/api/echo/index.js
  cypress/fixtures/static/api/headers/function.json
  cypress/fixtures/static/api/headers/index.js
  cypress/fixtures/static/api/host.json
  cypress/fixtures/static/api/info/function.json
  cypress/fixtures/static/api/info/index.js
  cypress/fixtures/static/api/package-lock.json
  cypress/fixtures/static/api/package.json
  cypress/fixtures/static/api/status/function.json
  cypress/fixtures/static/api/status/index.js
  cypress/fixtures/static/app/custom-401.html
  cypress/fixtures/static/app/custom-403.html
  cypress/fixtures/static/app/custom-404.html
  cypress/fixtures/static/app/folder/index.html
  cypress/fixtures/static/app/foo.bar
  cypress/fixtures/static/app/foo.html
  cypress/fixtures/static/app/index.html
  cypress/fixtures/static/app/index2.html
  cypress/fixtures/static/app/test.swaconfig
  cypress/fixtures/static/swa-cli.config.json
Labels: none

chore: add e2e for user claims
  cypress/integration/authentication.js
  cypress/integration/authorization.js
Labels: none

docs: add user claims example
  readme.md
Labels: none

ci: update e2e config
  .github/workflows/node.js.yml
  cypress/fixtures/api/local.settings.sample.json
Labels: none

ci: clean artifact name
  .github/workflows/node.yml
Labels: none

chore: add e2e for user claims
  cypress/integration/authentication.js
  cypress/integration/authorization.js
Labels: none

ci: tag artifact
  .github/workflows/node.yml
Labels: none

ci: disable cypress config
  .github/workflows/node.yml
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
