Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

docs: fix typo
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

docs: add libsecret-1.so.0 troubleshooting (#530)
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Deploy website - based on 6acd1f3ddec909a88c4dd9daf5cb277ac7bdce68
  404.html
  assets/js/6d64ee17.1d6fb12a.js
  assets/js/6d64ee17.78d1d67e.js
  assets/js/main.1c87da4d.js
  assets/js/main.1c87da4d.js.LICENSE.txt
  assets/js/main.aea8f9fd.js
  assets/js/runtime~main.0a47b51f.js
  assets/js/runtime~main.b9f80dcf.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: update dependencies
  package-lock.json
Labels: none

fix(core): identify correct default port for http and https urls (#524)
  src/core/utils/net.spec.ts
  src/core/utils/net.ts
Labels: none

Deploy website - based on df171a194159b009226768bce06a255d4e163fb9
  404.html
  assets/js/main.1c87da4d.js
  assets/js/main.311238b2.js
  assets/js/main.311238b2.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat(start): allow insecure https connections to remote api hosts
  src/cli/commands/start.ts
  src/config.ts
  src/core/constants.ts
  src/msha/handlers/function.handler.ts
  src/swa.d.ts
Labels: scope: core

chore: update dependencies (#533)
  package-lock.json
Labels: none

Deploy website - based on fbf014b5be0a63a14c195d0546b417ffe6f32ecb
  404.html
  assets/js/main.311238b2.js
  assets/js/main.c23812e7.js
  assets/js/main.c23812e7.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix: Added default values
  src/cli/commands/deploy.ts
Labels: none

Update swa-start.md
  docs/www/docs/cli/swa-start.md
Labels: none

Update swa-start.md (#539)
  docs/www/docs/cli/swa-start.md
Labels: none

Deploy website - based on 0b973bca0e0a36f9dda22087969afcb13d703c90
  404.html
  assets/js/64516836.3708a4c1.js
  assets/js/64516836.941f2102.js
  assets/js/main.286ceb89.js
  assets/js/main.286ceb89.js.LICENSE.txt
  assets/js/main.c23812e7.js
  assets/js/runtime~main.b9f80dcf.js
  assets/js/runtime~main.bb78952d.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on b493ba3af1d7290a37f122eb55434fc995d30b7d
  404.html
  assets/js/3c62dc7d.4286b686.js
  assets/js/3c62dc7d.c8556888.js
  assets/js/main.286ceb89.js
  assets/js/main.b99f799f.js
  assets/js/main.b99f799f.js.LICENSE.txt
  assets/js/runtime~main.35c382f8.js
  assets/js/runtime~main.bb78952d.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

docs: Adding `swa deploy` updates to Troubleshoot
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Deploy website - based on b5feddb2b388ddb37446e4c669e2c3c318fe5cb0
  404.html
  assets/js/6d64ee17.1d6fb12a.js
  assets/js/6d64ee17.f455a692.js
  assets/js/main.137fe322.js
  assets/js/main.137fe322.js.LICENSE.txt
  assets/js/main.b99f799f.js
  assets/js/runtime~main.00bb4081.js
  assets/js/runtime~main.35c382f8.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix(cli): implement missing response override referrer behavior
  src/msha/routes-engine/rules/response-overrides.spec.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/public/auth.html
Labels: none

Update 99-troubleshooting.md
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Adding caps
  schema/swa-cli.config.schema.json
Labels: none

Deploy website - based on 725b06f88a514c71663d9a5a28450ece1b919cab
  404.html
  assets/js/6d64ee17.f455a692.js
  assets/js/6d64ee17.fe4f049a.js
  assets/js/main.137fe322.js
  assets/js/main.e9a33fed.js
  assets/js/main.e9a33fed.js.LICENSE.txt
  assets/js/runtime~main.00bb4081.js
  assets/js/runtime~main.07e9afda.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Deploy website - based on 04023754fd7af3230710dc54c925e65df3709473
  404.html
  assets/js/3c62dc7d.4286b686.js
  assets/js/3c62dc7d.e54d5e33.js
  assets/js/main.d6c158a1.js
  assets/js/main.d6c158a1.js.LICENSE.txt
  assets/js/main.e9a33fed.js
  assets/js/runtime~main.07e9afda.js
  assets/js/runtime~main.f7d45c1e.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix(command:init): dev command for Next.Js projects
  package-lock.json
  src/core/frameworks/frameworks.ts
Labels: none

fix(command:init): dev command for Next.Js projects (#555)
  package-lock.json
  src/core/frameworks/frameworks.ts
Labels: none

Deploy website - based on ea62a4f993a1b4356a548fa4f35b4c5bfe3d4b8c
  404.html
  assets/js/main.397f28b8.js
  assets/js/main.397f28b8.js.LICENSE.txt
  assets/js/main.d6c158a1.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix(start): keep connection open with http-proxy
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

fix(cli): implement missing response override referrer behavior (#543)
  src/msha/routes-engine/rules/response-overrides.spec.ts
  src/msha/routes-engine/rules/response-overrides.ts
  src/public/auth.html
Labels: none

Deploy website - based on 8b7d725488c5f7db2257b48510c4c6ab0b8bcced
  404.html
  assets/js/main.04cc8238.js
  assets/js/main.04cc8238.js.LICENSE.txt
  assets/js/main.397f28b8.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat: Add new flags for Function runtime and Function version
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-deploy.md
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.ts
  src/config.ts
  src/core/constants.ts
  src/swa.d.ts
Labels: scope: core

Deploy website - based on 06356c1977924f607a28d4a5a90d844a1b543cb5
  404.html
  assets/js/3c62dc7d.e54d5e33.js
  assets/js/3c62dc7d.f95e8d71.js
  assets/js/main.04cc8238.js
  assets/js/main.c90d5c8a.js
  assets/js/main.c90d5c8a.js.LICENSE.txt
  assets/js/runtime~main.2c90e892.js
  assets/js/runtime~main.f7d45c1e.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

fix(api): bumping the node support to 18 for v4 functions
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
Labels: scope: core

Deploy website - based on 47823b006f25bfcbdeed6e27941b3e8ee5e7327a
  404.html
  assets/js/main.00cc402c.js
  assets/js/main.00cc402c.js.LICENSE.txt
  assets/js/main.c90d5c8a.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

feat: add func language and version support in swa init
  docs/www/docs/cli/swa-deploy.md
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/core/frameworks/detect.ts
  src/swa.d.ts
Labels: none

test: modify tests for new flags
  src/cli/commands/init.spec.ts
  src/core/frameworks/detect.spec.ts
Labels: none

docs: add default port for vite-based frameworks
  docs/www/docs/use/2-emulator.md
Labels: none

Add node v18 as a supported core tools version
  src/core/func-core-tools.ts
Labels: scope: core

fix(core): match * glob in routes
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/msha/routes-engine/route-processor.ts
Labels: scope: rules engine

docs: add default port for vite-based frameworks (#571)
  docs/www/docs/use/2-emulator.md
Labels: none

Deploy website - based on 19c619ba4630ec809f2ddfdb6796afb6773ff337
  404.html
  assets/js/ff8a24f3.6509b4f2.js
  assets/js/ff8a24f3.f9647e2a.js
  assets/js/main.00cc402c.js
  assets/js/main.8bbdc639.js
  assets/js/main.8bbdc639.js.LICENSE.txt
  assets/js/runtime~main.2c90e892.js
  assets/js/runtime~main.76a52861.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

updating Deployment provider
  src/cli/commands/deploy.ts
Labels: none

Updating Deployment provider
  src/cli/commands/deploy.spec.ts
Labels: none
