Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

docs: update CLI options documentation
  readme.md
  src/cli/index.ts
Labels: scope: cli

feat: add --dry-run mode
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/commands/deploy.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/runtimes.ts
  src/core/utils/cli-config.ts
  src/core/utils/logger.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

chore: update deploy tests
  src/cli/commands/deploy.spec.ts
Labels: none

chore: catch platform.apiRuntime error
  src/cli/commands/deploy.ts
  src/core/deploy-client.ts
Labels: scope: core

docs: fix npx example
  readme.md
Labels: none

chore: fix copy assets when git isnt installed
  scripts/copy-assets.js
Labels: none

ci: skip build when testing deploy
  .github/workflows/node.yml
Labels: none

ci: add step names
  .github/workflows/node.yml
Labels: none

fix: use .exe binary on windows
  src/core/deploy-client.ts
Labels: scope: core

ci: cache npm deps
  .github/workflows/node.yml
Labels: none

fix: make --api-location optional on depoy
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/config.ts
  src/swa.d.ts
Labels: scope: cli

ci: update workflow
  .github/workflows/node.yml
Labels: none

ci: update pipeline flow
  .github/workflows/node.yml
Labels: none

chore: fix unit tests
  src/cli/commands/deploy.spec.ts
Labels: none

fix: handle errors in dry-run mode
  .github/workflows/node.yml
  src/cli/commands/deploy.ts
Labels: none

chore: improve logging
  src/cli/commands/deploy.ts
  src/core/deploy-client.ts
Labels: scope: core

chore: add more tests
  jest.config.js
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
Labels: scope: core

ci: fix missing deploy command
  .github/workflows/node.yml
Labels: none

chore: remove console logs
  cypress/integration/functions.js
  cypress/integration/route-rules.js
  src/core/utils/user-config.ts
Labels: none

chore: add missing log prefix
  src/cli/commands/start.ts
Labels: none

docs: improve docs for swa deploy
  readme.md
Labels: none

ci: update pipeline run order
  .github/workflows/node.yml
Labels: none

ci: fix bin location
  .github/workflows/node.yml
Labels: none

feat: add support for dotenv
  package-lock.json
  package.json
  src/cli/commands/deploy.ts
Labels: none

fix: remove hardcoded binary URL
  src/core/deploy-client.ts
Labels: scope: core

ci: update e2e-deploy-* jobs
  .github/workflows/node.yml
Labels: none

docs: add build step for swa deploy
  readme.md
Labels: none

docs: how to deploy Blazor apps
  readme.md
Labels: none

chore: move --swa-config-location to swa command
  readme.md
  src/cli/index.ts
Labels: scope: cli

chore: fix broken logs
  src/cli/commands/deploy.ts
  src/core/deploy-client.ts
Labels: scope: core

chore: fixed broken tests
  src/cli/commands/deploy.spec.ts
  src/core/utils/user-config.spec.ts
Labels: none

docs: improve docs for swa deploy
  readme.md
Labels: none

fix: emphasize warning message if dry-run is used
  src/cli/commands/deploy.ts
Labels: none

chore: don't print --deployment-token in logs
  src/core/deploy-client.ts
  src/core/utils/logger.ts
Labels: scope: core

chore: add logs in findSWAConfigFile
  src/core/utils/user-config.ts
Labels: none

chore: fix logs formatting
  src/core/utils/cli-config.ts
Labels: none

fix: remove --output-location from swa deploy
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/core/deploy-client.spec.ts
Labels: scope: core, scope: cli

docs: add API language runtime version instruction
  readme.md
Labels: none

fix: hide sensitive values from logger
  src/core/utils/logger.ts
Labels: none

chore: improve logs for swa deploy
  src/cli/commands/deploy.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
