Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

refactor: review
  src/core/frameworks/detect.ts
Labels: none

feat(detect): discriminate framework using file contents
  src/core/frameworks/detect.ts
  src/core/frameworks/frameworks.ts
  src/core/frameworks/types.d.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

test: fix init tests
  src/cli/commands/init.spec.ts
Labels: none

test: update & fix tests
  TODO
  src/cli/commands/init.spec.ts
  src/core/utils/file.ts
Labels: none

refactor: change preempt to overrides
  src/core/frameworks/detect.ts
  src/core/frameworks/frameworks.ts
  src/core/frameworks/types.d.ts
Labels: none

refactor: add utils/file
  src/core/utils/file.spec.ts
  src/core/utils/file.ts
  src/core/utils/index.ts
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

test(init): add init tests
  src/cli/commands/init.spec.ts
Labels: none

test(detect): add unit tests
  src/core/frameworks/detect.spec.ts
Labels: none

chore: add stripJsonComments util
  src/core/utils/strings.spec.ts
  src/core/utils/strings.ts
Labels: none

test(detect): add fixtures
  e2e/fixtures/astro-node/astro-preact/.gitignore
  e2e/fixtures/astro-node/astro-preact/.npmrc
  e2e/fixtures/astro-node/astro-preact/.stackblitzrc
  e2e/fixtures/astro-node/astro-preact/README.md
  e2e/fixtures/astro-node/astro-preact/astro.config.mjs
  e2e/fixtures/astro-node/astro-preact/package.json
  e2e/fixtures/astro-node/astro-preact/public/favicon.ico
  e2e/fixtures/astro-node/astro-preact/sandbox.config.json
  e2e/fixtures/astro-node/astro-preact/src/components/Counter.css
  e2e/fixtures/astro-node/astro-preact/src/components/Counter.tsx
  e2e/fixtures/astro-node/astro-preact/src/pages/index.astro
  e2e/fixtures/astro-node/astro-preact/tsconfig.json
  e2e/fixtures/astro-node/node/.gitignore
  e2e/fixtures/astro-node/node/.vscode/extensions.json
  e2e/fixtures/astro-node/node/host.json
  e2e/fixtures/astro-node/node/package.json
  e2e/fixtures/static-node-ts/.nojekyll
  e2e/fixtures/static-node-ts/README.md
  e2e/fixtures/static-node-ts/index.html
  e2e/fixtures/static-node-ts/node-ts/.funcignore
  e2e/fixtures/static-node-ts/node-ts/.gitignore
  e2e/fixtures/static-node-ts/node-ts/.vscode/extensions.json
  e2e/fixtures/static-node-ts/node-ts/host.json
  e2e/fixtures/static-node-ts/node-ts/package.json
  e2e/fixtures/static-node-ts/node-ts/tsconfig.json
Labels: none

feat(detect): add more frameworks and fix some
  src/core/frameworks/frameworks.ts
Labels: none

fix(detect): api path computation
  src/core/frameworks/detect.ts
Labels: none

feat: apply command-specific options
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/core/constants.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
Labels: scope: core

test(detect): add e2e tests and workflow
  .github/workflows/detection-e2e-tests.yml
  .gitignore
  e2e/detect.js
  e2e/detect.spec.js
  e2e/jest.config.js
  package.json
  src/core/frameworks/frameworks.ts
Labels: none

refactor: review
  src/core/frameworks/detect.ts
Labels: none

fix: cli default context comparison and unwanted warning
  src/core/utils/cli-config.ts
Labels: none

fix: outputLocation from config
  src/cli/commands/deploy.ts
  src/cli/commands/init.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/core/utils/cli-config.ts
  src/core/utils/options.spec.ts
  src/core/utils/options.ts
Labels: none

refactor: misc improvements
  src/cli/commands/init.ts
  src/core/frameworks/detect.ts
  src/core/frameworks/frameworks.ts
Labels: none

test(detect): add utility to test framework detection
  .npmignore
  e2e/detect.js
  scripts/detect.js
Labels: none

refactor: add internal options helpers
  src/core/utils/options.ts
Labels: none

chore: remove todo
  TODO
Labels: none

chore: update gitignore
  .gitignore
Labels: none

chore: run audit fixes
  package-lock.json
Labels: none

fix: check staticwebapp.config.json max filesize
  src/core/constants.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
Labels: scope: core

chore: wip
  src/core/utils/user-config.ts
Labels: none

feat: improve staticwebapp.config.json validation
  package.json
  src/cli/commands/deploy.ts
  src/core/utils/user-config.ts
  src/msha/middlewares/request.middleware.ts
  src/swa.d.ts
Labels: none

feat: validate staticwebapp.config.json
  package-lock.json
  package.json
  schema/staticwebapp.config.schema.draft-07.json
  schema/staticwebapp.config.schema.json
  scripts/copy-assets.js
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  src/msha/middlewares/request.middleware.ts
Labels: none

fix: check staticwebapp.config.json max filesize
  src/core/constants.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
Labels: scope: core

docs: update swa logo
  docs/swa-cli-logo.svg
  docs/swa-emu-icon.png
  readme.md
Labels: none

chore: upgrade npm deps and fix breaking types (WIP)
  .nvmrc
  package-lock.json
  package.json
  src/cli/commands/deploy.ts
  src/core/deploy-client.ts
  src/core/env.ts
  src/core/func-core-tools.ts
  src/core/utils/logger.ts
  src/core/utils/user-config.ts
  src/msha/auth/index.ts
  src/msha/handlers/function.handler.ts
  src/msha/server.ts
Labels: scope: core, scope: auth, scope: msha, status: need internal approval

test: update fixtures
  e2e/.gitignore
  e2e/fixtures/astro-node/node/get-hello/function.json
  e2e/fixtures/astro-node/node/get-hello/index.js
  e2e/fixtures/static-node-ts/node-ts/get-hello/function.json
  e2e/fixtures/static-node-ts/node-ts/get-hello/index.ts
Labels: none

feat: initial build implementation
  schema/swa-cli.config.schema.json
  src/cli/commands/build.spec.ts
  src/cli/commands/build.ts
  src/config.ts
  src/core/builder.ts
  src/core/constants.ts
  src/core/runtimes.spec.ts
  src/core/runtimes.ts
  src/swa.d.ts
Labels: scope: core

refactor: remove unused runtime host
  src/core/runtime-host.spec.ts
  src/core/runtime-host.ts
Labels: scope: core

test(build): add swa build tests
  src/cli/commands/build.spec.ts
Labels: none

fix: try to use correct path for swa start run commands
  src/cli/commands/build.ts
  src/cli/commands/start.ts
  src/core/utils/file.spec.ts
  src/core/utils/file.ts
Labels: none

fix: missing --app-location option on swa deploy
  src/cli/commands/deploy.ts
Labels: none

test: add tests
  src/core/utils/file.spec.ts
Labels: none

feat: add swa build command and swa start --runBuild option (closes #380)
  schema/swa-cli.config.schema.json
  src/cli/commands/build.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/index.ts
  src/core/utils/file.ts
  src/core/utils/workflow-config.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

fix: package.json search with path ending with /
  src/core/utils/file.spec.ts
  src/core/utils/file.ts
Labels: none

fix: printing undefined values
  src/cli/commands/build.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
