Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

Deploy website - based on 1cd9979030e8a434d45332e38b23344b16c6d6cf
  404.html
  assets/files/package-1b1a848a6826075dc4d02253b95f2e85.json
  assets/js/621c628d.d38fcf66.js
  assets/js/621c628d.eb774e54.js
  assets/js/main.723c9de1.js
  assets/js/main.723c9de1.js.LICENSE.txt
  assets/js/main.98b0b4fc.js
  assets/js/runtime~main.53685ee8.js
  assets/js/runtime~main.71562de1.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: Bump into 1.0.6-alpha after release
  package.json
Labels: none

fix: incorrect path when starting server
  src/cli/commands/start/start.ts
Labels: none

fix: incorrect path when starting server (#641)
  src/cli/commands/start/start.ts
Labels: none

Deploy website - based on cb048a52aec186dfa9748c8bd04f6233356d21b3
  404.html
  assets/js/main.723c9de1.js
  assets/js/main.df9ab749.js
  assets/js/main.df9ab749.js.LICENSE.txt
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: prep release 1.0.6
  package-lock.json
  package.json
Labels: none

chore: prep release 1.0.6 (#642)
  package-lock.json
  package.json
Labels: none

Deploy website - based on 61dfd01bcc444633d760f4906efe7e90d9b177bc
  404.html
  assets/files/package-1dc3dd8bb495a576c08beb985df1b9c6.json
  assets/js/621c628d.56094706.js
  assets/js/621c628d.d38fcf66.js
  assets/js/main.3f5bab2c.js
  assets/js/main.3f5bab2c.js.LICENSE.txt
  assets/js/main.df9ab749.js
  assets/js/runtime~main.3feb5668.js
  assets/js/runtime~main.53685ee8.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

chore: bump-into-1.0.7-alpha-after-release
  package.json
Labels: none

fix: temp url for data-api binary download fix: authentication headers in dab routing fix: swa start --help
  src/cli/commands/start.ts
  src/core/constants.ts
  src/msha/handlers/dab.handler.ts
Labels: scope: core

chore: bump-into-1.0.7-alpha-after-release (#643)
  package.json
Labels: none

Deploy website - based on ee3ade79a7e4a5e2054950d19861f5a1bc7ca64e
  404.html
  assets/files/package-5f4e00cc672ec1a7dc70d9972cb442f8.json
  assets/js/621c628d.56094706.js
  assets/js/621c628d.621e7017.js
  assets/js/main.3f5bab2c.js
  assets/js/main.da8601bb.js
  assets/js/main.da8601bb.js.LICENSE.txt
  assets/js/runtime~main.3feb5668.js
  assets/js/runtime~main.8c57eb1d.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

Formatting fix
  docs/www/docs/use/1-install.md
Labels: none

docs: Formatting fix (#644)
  docs/www/docs/use/1-install.md
Labels: none

Deploy website - based on 43906f49b46366153b12d1797fdf2dc349faea56
  404.html
  assets/js/f5b83334.47255647.js
  assets/js/f5b83334.cfb9604d.js
  assets/js/main.7a123e78.js
  assets/js/main.7a123e78.js.LICENSE.txt
  assets/js/main.da8601bb.js
  assets/js/runtime~main.8c57eb1d.js
  assets/js/runtime~main.bad4099f.js
  docs/cli/docker/index.html
  docs/cli/env-vars/index.html
  docs/cli/local-auth/index.html
  docs/cli/swa-build/index.html
  docs/cli/swa-config/index.html
  docs/cli/swa-deploy/index.html
  docs/cli/swa-init/index.html
  docs/cli/swa-login/index.html
  docs/cli/swa-start/index.html
  docs/cli/swa/index.html
  docs/contribute/Troubleshooting/index.html
  docs/contribute/contributors/index.html
  docs/contribute/developer/index.html
  docs/contribute/intro/index.html
  docs/intro/index.html
  docs/use/api-server/index.html
  docs/use/config/index.html
  docs/use/deploy/index.html
  docs/use/emulator/index.html
  docs/use/install/index.html
  index.html
Labels: none

docs: Update troubleshooting doc
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

feat: add separate executable based on the OS and nit changes
  package-lock.json
  package.json
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
  src/core/download-binary-helper.ts
  src/msha/handlers/dab.handler.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/rules/routes.spec.ts
Labels: scope: core

fix: ERR_STREAM_WRITE_AFTER_END error while writing stream
  src/core/download-binary-helper.ts
Labels: scope: core

nit: resolve comments
  package.json
  src/cli/commands/start.ts
  src/core/constants.ts
  src/core/func-core-tools.ts
  src/msha/routes-engine/rules/routes.spec.ts
Labels: scope: core

fix: rename dab binary to new binary Name
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/constants.ts
  src/core/dataApiBuilder/dab-main.ts
  src/core/dataApiBuilder/dab.ts
Labels: scope: core

fix: Linux permission issue for dab-executable
  src/core/dataApiBuilder/dab.ts
Labels: none

collecting telemetry basic method
  src/cli/commands/login/login.ts
  src/core/telemetry/baseTelemetryReporter.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/telemetryReporterTypes.d.ts
  src/core/telemetry/utils.ts
Labels: none

more changes
  src/cli/commands/login/login.ts
  src/core/telemetry/baseTelemetryReporter.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/telemetryReporterTypes.d.ts
  src/core/telemetry/utils.ts
Labels: none

adding 'applicationinsights' module to package.json
  package.json
Labels: none

nit
  package-lock.json
Labels: none

addressed comments
  package-lock.json
  src/core/telemetry/baseTelemetryReporter.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/telemetryReporter.ts
Labels: none

Update 99-troubleshooting.md
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

Update 99-troubleshooting.md
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

docs: Update troubleshooting doc (#651)
  docs/www/docs/contribute/99-troubleshooting.md
Labels: none

feat: telemetry collection basic changes (#653)
  package-lock.json
  package.json
  src/core/telemetry/baseTelemetryReporter.ts
  src/core/telemetry/baseTelemetrySender.ts
  src/core/telemetry/telemetryReporter.ts
  src/core/telemetry/telemetryReporterTypes.d.ts
  src/core/telemetry/utils.ts
Labels: none

Update SWA start to remove mention of run-build
  docs/www/docs/cli/swa-start.md
Labels: none

feat(telemetry): added new flags and env variable for opting out of telemetry
  src/cli/commands/index.ts
  src/cli/commands/telemetry/index.ts
  src/cli/commands/telemetry/register.ts
  src/cli/commands/telemetry/telemetry.ts
  src/cli/index.ts
  src/core/constants.ts
  src/core/telemetry/utils.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

nit
  src/cli/commands/telemetry/register.ts
  src/cli/commands/telemetry/telemetry.ts
Labels: none

fix: fix naming while running dab command
  src/cli/commands/start.ts
  src/core/constants.ts
  src/core/dataApiBuilder/dab.ts
  src/core/dataApiBuilder/index.ts
Labels: scope: core

nit: resolve comments
  src/core/dataApiBuilder/dab.ts
Labels: none

Update SWA start to remove mention of run-build (#655)
  docs/www/docs/cli/swa-start.md
Labels: none

fix: fix the env-vars broken link
  docs/www/docs/cli/swa.md
Labels: none

fix: fix the env-vars broken link (#659)
  docs/www/docs/cli/swa.md
Labels: none

addressed comments
  src/cli/commands/telemetry/register.ts
  src/cli/commands/telemetry/telemetry.ts
Labels: none

addressed comments
  src/cli/commands/telemetry/register.ts
  src/cli/commands/telemetry/telemetry.ts
  src/core/telemetry/utils.ts
  src/core/utils/file.ts
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
