Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*

(#864) Conversion to ESM - part 1
  .github/workflows/azuresdkdrop.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .nvmrc
  .vscode/extensions.json
  jest.config.js
  jest.config.json
  package-lock.json
  package.json
  src/cli/commands/start/start.ts
  tsconfig.json
Labels: none

(#864) package versioning - pass 1
  package-lock.json
  package.json
  src/cli/commands/build/build.spec.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/start/start.ts
  src/core/frameworks/detect.spec.ts
  src/core/utils/file.spec.ts
  src/core/utils/workflow-config.spec.ts
  src/jest.helpers.ts
Labels: none

(#864) TypeScript version update
  package-lock.json
  package.json
  src/jest.helpers.ts
Labels: none

(#864) update semantic-release
  package-lock.json
  package.json
Labels: none

(#864) Update azure dependencies
  package-lock.json
  package.json
Labels: none

(#864) ts-jest config fix for ESM modules
  jest.config.json
Labels: none

(#864) fix for module import mocks
  src/cli/commands/db/init/init.spec.ts
Labels: none

(#864) fix: stripJsonComments test ignores white space in comparison
  src/core/utils/strings.spec.ts
Labels: none

(#684) fix: mocks
  src/core/deploy-client.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/utils/platform.ts
Labels: scope: core

(#684) finish conversion to ESM
  package-lock.json
  package.json
  src/core/utils/user-config.ts
Labels: none

(#684) update for jest
  jest.config.json
  package-lock.json
  package.json
  src/cli/commands/init/init.spec.ts
  tsconfig.json
Labels: none

(#684) update to typescript latest
  package-lock.json
  package.json
  src/core/utils/user-config.ts
Labels: none

(#684) revert to typescript 4 latest
  .vscode/settings.json
  package-lock.json
  package.json
  src/core/utils/ajv.ts
  src/core/utils/user-config.ts
  tsconfig.json
Labels: none

(#684) fix for start-server-and-test axios dependency
  package-lock.json
  package.json
Labels: none

(#864) fix: extract updateNotifier to its own file
  package-lock.json
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/utils/update-notifier.ts
  tsconfig.json
Labels: scope: cli

(#684) conversion from ajv to json-schema-library and update to typescript 5.5.3
  package-lock.json
  package.json
  src/core/constants.ts
  src/core/utils/ajv.ts
  src/core/utils/json.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  tsconfig.json
Labels: scope: core

(#684) switch to vitest part 1 - WIP
  jest.config.json
  package-lock.json
  package.json
  src/cli/commands/build/build.spec.ts
  src/cli/commands/db/init/init.spec.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/core/deploy-client.spec.ts
  src/core/env.spec.ts
  src/core/frameworks/detect.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/git.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.spec.ts
  src/core/utils/cookie.spec.ts
  src/core/utils/file.spec.ts
  src/core/utils/net.spec.ts
  src/core/utils/options.spec.ts
  src/core/utils/platform.spec.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/workflow-config.spec.ts
  src/msha/auth/routes/auth-logout-https.spec.ts
  src/msha/auth/routes/auth-logout.spec.ts
  src/msha/handlers/dab.handler.spec.ts
  src/msha/routes-engine/rules/headers.spec.ts
  src/msha/routes-engine/rules/mime-types.spec.ts
  src/msha/routes-engine/rules/navigation-fallback.spec.ts
  src/msha/routes-engine/rules/response-overrides.spec.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/test.helpers.ts
  tsconfig.json
  vitest.config.ts
Labels: scope: core, scope: cli

Add mocking file for memfs vitest mocking setup. All tests passing in file.spec.ts
  src/core/utils/file.spec.ts
  tests/_mocks/fs.js
  vitest.config.ts
Labels: none

(#684) fixes to mock-fs and node-fetch mocks
  src/cli/commands/build/build.spec.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/core/deploy-client.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/git.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.spec.ts
  src/core/utils/cookie.spec.ts
  src/core/utils/net.spec.ts
  src/core/utils/options.spec.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/workflow-config.spec.ts
  src/msha/routes-engine/rules/mime-types.spec.ts
  src/msha/routes-engine/rules/navigation-fallback.spec.ts
  src/msha/routes-engine/rules/routes.spec.ts
  tests/_mocks/fetch.js
Labels: scope: core, scope: cli

Fix build.spec.ts by mocking runCommand function to ensure it was called properly
  src/cli/commands/build/build.spec.ts
Labels: none

(#684) test updates
  src/cli/commands/build/build.spec.ts
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/init/init.spec.ts
  src/core/deploy-client.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/workflow-config.spec.ts
Labels: scope: core

(#684) Fixes for cli-config tests
  .vscode/launch.json
  src/core/deploy-client.ts
  src/core/utils/cli-config.spec.ts
  tsconfig.json
  vitest.workspace.js
Labels: scope: core

(#684) Fixes for cli-config tests
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/user-config.spec.ts
Labels: none

(#684) Fixes for func-core-tools.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/user-config.spec.ts
Labels: scope: core

(#684) Fixes for user-config.spec.ts
  src/core/utils/user-config.spec.ts
Labels: none

(#684) Added mockRestore for repeatable tests
  src/core/utils/cli.spec.ts
  src/core/utils/net.spec.ts
  src/core/utils/user-config.spec.ts
  swa-db-connections/staticwebapp.database.schema.gql
  vitest.config.ts
Labels: none

(#684) Remove unused processSpy
  src/core/utils/user-config.spec.ts
  src/core/utils/workflow-config.spec.ts
Labels: none

(#684) Fix to spyOn cwd
  src/core/utils/user-config.spec.ts
  src/core/utils/workflow-config.spec.ts
Labels: none

(#684) skip some tests because of unavailable mocks
  src/cli/commands/build/build.spec.ts
  src/cli/commands/init/init.spec.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
  src/core/utils/json.ts
  src/core/utils/update-notifier.ts
  src/msha/auth/routes/auth-login-provider.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: core, scope: cli

(#684) fix the husky change on commit error
  package.json
Labels: none

(#684) Fix to the build errors
  src/cli/commands/build/build.spec.ts
  src/cli/index.ts
Labels: scope: cli

(#684) Update update-notifier to fix got dependency
  package-lock.json
  package.json
Labels: none

(#684) corrections / updates / e2e tests not working
  e2e/detect.js
  e2e/detect.spec.js
  e2e/jest.config.js
  e2e/vitest.config.e2e.ts
  package-lock.json
  package.json
  vitest.config.unit.ts
  vitest.workspace.js
  vitest.workspace.ts
Labels: none

(#684) fix: hugo detection failure
  e2e/__snapshots__/detect.spec.js.snap
Labels: none

(#684) fix: hugo detection failure
  e2e/__snapshots__/detect.spec.js.snap
  e2e/detect.js
  e2e/detect.spec.js
  e2e/vitest.config.e2e.ts
Labels: none

fix: more missed require conversions
  src/cli/bin.js
  src/cli/commands/deploy/deploy.ts
Labels: scope: cli

fix: RangeError: options.minThreads and options.maxThreads must not conflict
  .github/workflows/ci.yml
Labels: none

fix: ci-deploy import attributes
  package-lock.json
  package.json
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/utils/json.ts
  src/core/utils/update-notifier.ts
  tsconfig.json
Labels: scope: cli

fix: CommonJS usage in ci/json-schema-library
  package.json
  src/core/utils/json.ts
Labels: none

fix: __dirname not defined in ES Modules
  src/core/constants.ts
  src/msha/auth/routes/auth-login-provider.ts
Labels: scope: core
