Repository Azure/static-web-apps-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: scope: core, scope: cli, scope: auth, scope: rules engine, scope: msha, status: need internal approval

ci: try fixing ci
  src/core/utils/user-config.spec.ts
Labels: none

ci: fix e2e tests command
  .github/workflows/node.yml
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/swa-cli.config.json
Labels: none

ci: fix e2e test commands again
  .github/workflows/node.yml
Labels: none

fix(detect): windows path not matched
  src/core/frameworks/detect.ts
Labels: none

docs: add new flags to the schema
  schema/swa-cli.config.schema.json
Labels: none

ci: fix all tests on windows
  .npmignore
  e2e/detect.spec.js
  src/cli/commands/build.spec.ts
  src/cli/commands/init.spec.ts
  src/core/frameworks/detect.spec.ts
  src/core/utils/file.spec.ts
  src/core/utils/workflow-config.spec.ts
  src/jest.helpers..ts
Labels: none

refactor: remove trailing slashes
  src/core/frameworks/frameworks.ts
Labels: none

ci: fix e2e test commands again
  .github/workflows/node.yml
Labels: none

ci: enable ci on ga branch
  .github/workflows/codeql-analysis.yml
  .github/workflows/detection-e2e-tests.yml
  .github/workflows/node.yml
Labels: none

ci: fix all tests on windows
  .npmignore
  e2e/detect.spec.js
  src/cli/commands/build.spec.ts
  src/cli/commands/init.spec.ts
  src/core/frameworks/detect.spec.ts
  src/core/utils/file.spec.ts
  src/core/utils/workflow-config.spec.ts
  src/jest.helpers..ts
Labels: none

ci: fix build
  .github/workflows/node.yml
  package-lock.json
  package.json
  src/core/git.ts
  src/core/ssl.ts
Labels: scope: core

ci: revert env matrix
  .github/workflows/node.yml
Labels: none

fix(detect): windows path not matched
  src/core/frameworks/detect.ts
Labels: none

ci: try fixing ci
  src/core/utils/user-config.spec.ts
Labels: none

test: fix tests on Node 14
  src/msha/routes-engine/rules/routes.spec.ts
Labels: none

refactor: remove trailing slashes
  src/core/frameworks/frameworks.ts
Labels: none

ci: fix e2e tests command
  .github/workflows/node.yml
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/swa-cli.config.json
Labels: none

fix: fs/promises loading with Node 12
  src/cli/commands/login.ts
  src/core/ssl.ts
  src/core/utils/user-config.ts
Labels: scope: core

ci: try to fix
  .github/workflows/node.yml
Labels: none

ci: fix workflow
  .github/workflows/node.yml
Labels: none

build(packaging): Update nodejs and npm versions
  .devcontainer/devcontainer.json
  .github/workflows/azuresdkdrop.yml
  .github/workflows/node.yml
  .nvmrc
Labels: none

ci: fix detection e2e tests not running
  .github/workflows/detection-e2e-tests.yml
Labels: none

fix: log display inconsistencies
  src/cli/commands/init.ts
  src/core/utils/user-config.ts
  src/msha/server.ts
Labels: scope: msha, status: need internal approval

refactor(swa): add details about commands running
  src/cli/index.ts
Labels: scope: cli

fix: swa version display
  src/cli/index.ts
Labels: scope: cli

revert: partial manual revert of merge main commit
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: rules engine

fix: avoid blocking tests
  package-lock.json
  src/cli/index.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/ssl.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

fix: warn only if StaticSiteClient is outdated
  src/core/deploy-client.ts
Labels: scope: core

fix: improve query params logic if dev server
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: rules engine

fix: warn only if StaticSiteClient is outdated
  src/core/deploy-client.ts
Labels: scope: core

fix: improve query params logic if dev server
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: rules engine

chore: bump version
  package.json
Labels: none

chore: update docusaurus
  docs/www/package-lock.json
  docs/www/package.json
Labels: none

fix: avoid blocking tests
  package-lock.json
  src/cli/index.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/ssl.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

ci: add Node 18 tests
  .github/workflows/detection-e2e-tests.yml
  .github/workflows/node.yml
Labels: none

feat: add runtime node version check
  src/cli/index.ts
Labels: scope: cli

fix: move the runtime config file under appLocation
  cypress/fixtures/blazor-starter/Client/staticwebapp.config.json
  cypress/fixtures/blazor-starter/swa-cli.config.json
  cypress/fixtures/static/app/staticwebapp.config.json
  cypress/fixtures/static/staticwebapp.config.json
  cypress/fixtures/static/swa-cli.config.json
  package.json
Labels: none

ci: re-enable cypress on CICD
  .github/workflows/node.yml
Labels: none

fix: stuck progress bar
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
Labels: scope: core

chore: remove unused package globalyzer
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

"scope: core":
  - src/core/*

"scope: cli":
  - src/cli/*

"scope: auth":
  - src/msha/auth/*

"scope: rules engine":
  - src/msha/routes-engine/*

"scope: msha":
  - src/msha/*

"status: need internal approval":
  - src/msha/*
