Repository Azure/static-web-apps-cli, pull requests merged in 2021-04, with the labels that each got.

#148 feat: wait for dev servers to be ready at startup
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/utils.ts
  src/proxy/server.ts
Labels: scope: core, scope: proxy

#149 feat: set staticwebapp.config.json location w/ flag
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: proxy

#152 fix: allow editing of user ID in auth screen, small updates
  readme.md
  src/cli/index.ts
  src/public/auth.html
Labels: scope: cli

#151 fix: force exit on SIGINT/SIGTERM
  src/proxy/server.ts
Labels: scope: proxy

#153 feat: update help text
  package-lock.json
  package.json
  src/cli/index.ts
Labels: scope: cli

#156 fix: exit on Ctrl-C
  src/proxy/server.ts
Labels: scope: proxy

#159 fix: use opts() to get options in commander 7
  package-lock.json
  src/cli/index.ts
  src/config.ts
Labels: scope: cli

#172 fix: avoid npm link permission issues
  package-lock.json
  package.json
  scripts/copy-assets.js
  src/cli/bin.js
  src/cli/index.ts
Labels: scope: cli

#177 chore: split util functions into their own files
  cypress/integration/route-rules-engine.js
  src/auth/index.ts
  src/auth/routes/auth_login_provider.ts
  src/auth/routes/auth_logout.ts
  src/auth/routes/auth_me.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/index.ts
  src/core/runtime-host.spec.ts
  src/core/runtime-host.ts
  src/core/runtimes.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/core/utils/cli.spec.ts
  src/core/utils/cli.ts
  src/core/utils/cookie.spec.ts
  src/core/utils/cookie.ts
  src/core/utils/index.ts
  src/core/utils/logger.ts
  src/core/utils/net.spec.ts
  src/core/utils/net.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  src/core/utils/workflow-config.spec.ts
  src/core/utils/workflow-config.ts
  src/proxy/routes-engine/index.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/server.ts
Labels: scope: auth, scope: cli, scope: core, scope: proxy, scope: rules engine

#179 fix: allow users to set custom error pages
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/static/custom-401.html
  cypress/fixtures/static/custom-403.html
  cypress/fixtures/static/custom-404.html
  cypress/fixtures/static/custom_error.html
  cypress/fixtures/static/staticwebapp.config.json
  cypress/integration/custom-error-pages.js
  cypress/integration/route-rules-engine.js
  src/cli/commands/start.ts
  src/config.ts
  src/proxy/routes-engine/index.ts
  src/proxy/routes-engine/rules/navigationFallback.spec.ts
  src/proxy/routes-engine/rules/navigationFallback.ts
  src/proxy/routes-engine/rules/responseOverrides.spec.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: proxy, scope: rules engine

#182 fix: move port validation and waiting logic into proxy server
  package-lock.json
  src/cli/commands/start.ts
  src/proxy/server.ts
Labels: scope: proxy

#181 chore: improve rules engine logic
  .gitignore
  cypress/integration/authentication.js
  cypress/integration/route-rules-engine.js
  src/core/utils/cookie.spec.ts
  src/core/utils/glob.spec.ts
  src/core/utils/glob.ts
  src/proxy/routes-engine/index.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/routes-engine/rules/globalHeaders.ts
  src/proxy/routes-engine/rules/navigationFallback.ts
  src/proxy/routes-engine/rules/responseOverrides.ts
  src/proxy/server.ts
Labels: scope: proxy, scope: rules engine

#184 refactor: rename --routes-location
  cypress/integration/authentication.js
  readme.md
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: proxy

#185 fix: avoid blocking URL ending with routes.json
  src/proxy/server.ts
Labels: scope: proxy
