Repository Azure/static-web-apps-cli, pull requests merged in 2021-03, with the labels that each got.

#71 Using concurrently programmatically
  .gitignore
  package-lock.json
  package.json
  readme.md
  src/cli/commands/start.ts
  src/core/builder.ts
  src/core/runtimeHost.spec.ts
  src/core/runtimeHost.ts
  src/core/utils.test.ts
  src/core/utils.ts
Labels: priority: high, scope: core, status: investigating

#98 fix: update CLI bin file permissions
  src/cli/index.ts
Labels: scope: cli

#100 chore: isPortAvailable > isAcceptingTcpConnections
  src/cli/commands/start.ts
  src/core/utils.ts
Labels: scope: core

#110 fix: handle special case /* in routes.json
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/routes-engine/rules/customRoutes.spec.ts
  src/proxy/routes-engine/rules/customRoutes.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: core, scope: proxy

#128 fix: allow post_logout_redirect_uri to be used
  src/auth/index.ts
  src/auth/routes/auth_logout.spec.ts
  src/auth/routes/auth_logout.ts
  src/auth/routes/auth_me.ts
  src/swa.d.ts
Labels: scope: auth

#131 fix: skip user config if binding to a dev server
  src/cli/commands/start.ts
  src/cli/index.ts
  src/core/builder.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: core, scope: proxy

#140 feat: Support serving web and api over https locally
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/proxy/server.ts
  src/swa.d.ts
Labels: scope: cli, scope: core, scope: proxy

#145 feat: Support running external commands on startup
  readme.md
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/swa.d.ts
Labels: scope: cli, scope: core
