Repository Azure/static-web-apps-cli, pull requests merged in 2021-02, with the labels that each got.

#54 feat: add new local auth UX
  package-lock.json
  package.json
  readme.md
  src/auth/index.html
  src/auth/routes/app_auth_complete.ts
  src/auth/routes/app_auth_login_provider.ts
  src/auth/routes/app_auth_logout.ts
  src/auth/routes/app_auth_logout_complete.ts
  src/auth/routes/app_auth_me.ts
  src/auth/routes/fake_provider_oauth_authorize.ts
  src/auth/routes/identity_auth_login_done.ts
  src/auth/routes/identity_auth_login_provider.ts
  src/auth/routes/identity_auth_login_provider_callback.ts
  src/auth/routes/identity_auth_logout.ts
  src/auth/routes/identity_auth_logout_complete.ts
  src/auth/routes/identity_redirect_logout.ts
  src/auth/routes/identity_redirect_provider.ts
  src/auth/server.ts
  src/auth/unauthorized.html
  src/cli.ts
  src/proxy.ts
  src/runtimeHost.spec.ts
  src/swa.d.ts
  src/userManager.ts
  src/users.json
  src/utils.test.ts
  src/utils.ts
Labels: priority: high, scope: auth, type: enhancement

#41 feat: add a start command
  package.json
  readme.md
  src/cli.ts
  src/cli/commands/start.ts
  src/cli/config.ts
  src/cli/index.ts
  src/runtimeHost.ts
  src/utils.ts
Labels: priority: high, scope: cli, type: enhancement

#87 Fix the API proxy crashing when user is logged in
  src/proxy/server.ts
Labels: scope: proxy
