Repository Azure/static-web-apps-cli, pull requests merged in 2021-09, with the labels that each got.

#290 feat: Add option to pass arguments to func start command
  readme.md
  src/cli/commands/start.ts
  src/cli/index.ts
  src/swa.d.ts
Labels: scope: cli

#281 fix(core): wait on API using tcp
  src/core/utils/net.ts
Labels: pr: lgtm

#294 feat: Add support for swa-cli.config.json file
  cypress/fixtures/static/swa-cli.config.json
  package.json
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/index.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli-config.ts
  src/core/utils/logger.ts
  src/swa.d.ts
Labels: scope: cli, pr: lgtm

#320 feat: Remove shorthand options
  package.json
  readme.md
  src/cli/index.ts
Labels: scope: cli
