Repository Azure/static-web-apps-cli, pull requests merged in 2022-05, with the labels that each got.

#458 feat: add swa command 🪄
  src/cli/commands/build.ts
  src/cli/index.ts
  src/core/utils/command.ts
  src/core/utils/index.ts
Labels: scope: cli

#424 build(packaging): Update nodejs and npm versions
  .devcontainer/devcontainer.json
  .github/workflows/azuresdkdrop.yml
  .github/workflows/node.yml
  .nvmrc
Labels: pr: lgtm

#469 fix: warn only if StaticSiteClient is outdated
  src/core/deploy-client.ts
Labels: scope: core

#470 fix: improve query params logic if dev server
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/routes.ts
Labels: scope: rules engine

#468 fix: avoid blocking tests
  package-lock.json
  src/cli/index.spec.ts
  src/core/func-core-tools.spec.ts
  src/core/ssl.ts
  src/core/utils/user-config.spec.ts
  src/core/utils/user-config.ts
  src/swa.d.ts
Labels: scope: core, scope: cli

#475 revert: remane --server-timeout option
  cypress/fixtures/blazor-starter/swa-cli.config.json
  docs/www/docs/cli/3-swa-start.md
  readme.md
  schema/swa-cli.config.schema.json
  src/cli/commands/start.ts
  src/config.ts
  src/core/utils/cli-config.spec.ts
  src/core/utils/cli.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: msha, status: need internal approval

#482 feat: add swa docs
  src/cli/commands/docs.ts
  src/cli/index.ts
Labels: scope: cli

#480 fix: deploy print-token even if app has provider
  src/cli/commands/deploy.ts
  src/core/account.ts
Labels: scope: core

#484 ci: deploy docs to GH Pages
  .github/workflows/deploy-docs.yml
Labels: scope: docs

#479 docs: update docs to latest state
  docs/DEVELOPER.md
  docs/swa-cli.config.json
  docs/www/README.md
  docs/www/docs/cli/1-swa.md
  docs/www/docs/cli/2-swa-login.md
  docs/www/docs/cli/3-swa-start.md
  docs/www/docs/cli/4-swa-deploy.md
  docs/www/docs/cli/5-swa-cli-config.md
  docs/www/docs/cli/6-env-vars.md
  docs/www/docs/cli/_category_.json
  docs/www/docs/cli/env-vars.md
  docs/www/docs/cli/swa-build.md
  docs/www/docs/cli/swa-config.md
  docs/www/docs/cli/swa-deploy.md
  docs/www/docs/cli/swa-init.md
  docs/www/docs/cli/swa-login.md
  docs/www/docs/cli/swa-start.md
  docs/www/docs/cli/swa.md
  docs/www/docs/contribute/2-developer.md
  docs/www/docs/contribute/3-contributors.md
  docs/www/docs/contribute/99-troubleshooting.md
  docs/www/docs/intro.md
  docs/www/docs/use/1-install.md
  docs/www/docs/use/2-emulator.md
  docs/www/docusaurus.config.js
  docs/www/package.json
  docs/www/src/components/HomepageFeatures/index.js
  docs/www/src/components/HomepageFeatures/styles.module.css
  docs/www/static/img/landing-configure-icon.svg
  docs/www/static/img/landing-deploy-icon.svg
  docs/www/static/img/landing-init-icon.svg
  docs/www/static/img/landing-install-icon.svg
  docs/www/static/img/landing-login-icon.svg
  docs/www/static/img/landing-start-icon.svg
  docs/www/static/img/swa-arch.png
Labels: scope: docs
