Repository Azure/static-web-apps-cli, pull requests merged in 2022-04, with the labels that each got.

#430 fix: improve query params logic if dev server
  src/core/constants.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/middlewares/response.middleware.ts
  src/msha/routes-engine/route-processor.spec.ts
  src/msha/routes-engine/route-processor.ts
  src/msha/routes-engine/rules/mime-types.ts
  src/msha/routes-engine/rules/routes.ts
Labels: priority: high (P0), scope: core, scope: msha, scope: rules engine

#426 feat: provide complete devcontainer with support for e2e tests
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/node-debian.sh
  cypress/fixtures/blazor-starter/swa-cli.config.json
Labels: priority: low (P2), complexity: hours

#433 refactor: unify SWA CLI variable environments
  docs/environment_variables.md
  src/cli/commands/deploy.spec.ts
  src/cli/commands/deploy.ts
  src/cli/commands/login.ts
  src/cli/commands/start.ts
  src/cli/index.ts
  src/config.ts
  src/core/constants.ts
  src/core/deploy-client.ts
  src/core/env.spec.ts
  src/core/env.ts
  src/core/utils/logger.ts
  src/core/utils/net.ts
  src/core/utils/options.ts
  src/msha/handlers/function.handler.ts
  src/msha/middlewares/request.middleware.ts
  src/msha/routes-engine/rules/navigation-fallback.ts
  src/msha/routes-engine/rules/routes.spec.ts
  src/msha/routes-engine/rules/routes.ts
  src/msha/server.ts
  src/swa.d.ts
Labels: scope: core, scope: msha, scope: cli, status: need internal approval

#441 feat: support for self-generating ssl certificates
  .prettierrc
  package-lock.json
  package.json
  src/cli/commands/start.ts
  src/core/ssl.ts
  src/msha/server.ts
Labels: scope: core, scope: msha, status: need internal approval

#450 fix: update deploy manifest signature
  src/core/deploy-client.spec.ts
  src/core/deploy-client.ts
Labels: scope: core, scope: deploy
