Repository Azure/static-web-apps-cli, pull requests merged in 2024-07, with the labels that each got.

#774 feat: Support Azure CLI credential
  src/core/account.ts
Labels: scope: core

#861 fix (#859): Add check for azureProfile.json to prevent double login
  src/cli/commands/login/login.ts
  src/core/constants.ts
  src/core/utils/file.ts
  src/swa.d.ts
Labels: scope: core

#869 Refreshing Node.js supported versions
  src/core/func-core-tools.spec.ts
  src/core/func-core-tools.ts
Labels: scope: core

#874 fix (#873, #864): Start crash including auth & Node 20 support
  schema/staticwebapp.config.json
  src/msha/auth/index.ts
Labels: scope: auth

#875 (#871) fix: import JSON files using createRequire
  src/cli/commands/deploy/deploy.spec.ts
  src/cli/commands/deploy/deploy.ts
  src/cli/commands/start/start.ts
  src/cli/index.spec.ts
  src/cli/index.ts
  src/core/utils/json.spec.ts
  src/core/utils/json.ts
  src/core/utils/update-notifier.ts
Labels: scope: cli
